{% extends "app/base.html" %}
    {% load i18n %}
    {% load l10n %}
    {% block title %} 
    AoD | {{ title }}
    {% endblock title %}

    {% block navbar %}
        {% include "app/navbar-users.html" %}
    {% endblock navbar %}

    {% load staticfiles %}

    {% block extraCss %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui/1.11.3/jquery-ui.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/my-tooltip.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-table/bootstrap-table.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/sweetalert/sweetalert.css' %}" />
    {% endblock extraCss %}


    {% block content %}
    <div class="container body-content padding-top-50 padding-bottom-em-2">
    
        {% block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="{% url 'home_page' %}" class="custom-inactive-breadcrumb" title="Home page"><span class="fa fa-home"></span> {% trans 'Home' %}</a></li>
            <li> {% trans 'My collection' %}</li>
        </ol>
        {% endblock breadcrumb %}

        <main role="main" >
            <div class="service-list-box"  style="min-height: 700px;">
                <div class="row col-sm-12 col-xs-12 col-md-12 col-lg-12 table-responsive" >
                    <h4 id="consumer-info" data-id="{{consumer.id}}">{{ consumer.info }} {% trans 'collection of services' %}</h4>
                    <hr class="service-hr">

                    <section class="margin-top-10" >
                        <div class="col-sm-5 col-md-5 col-lg-4 col-xs-12" style="border-right: 1px solid #d9d9d9">
                            <table id="collection"
                                    data-classes="table table-hover table-striped"
                                    data-search="true"  
                                    data-show-toggle="false"
                                    data-show-columns="true"
                                    data-card-view="false"
                                    data-click-to-select="true"
                                    data-pagination="true"
                                    data-page-list="[10, 20, 30, 50]"
                                    data-sort-name="title" data-sort-order="asc">
                                <thead class="text-success">
                                    <tr>
                                        <th data-field="state" data-radio="true"></th>
                                        <th data-field="title" data-sortable="true" data-switchable="false">{% trans 'Title' %}</th>
                                        <th data-field="assist" data-sortable="false" data-visible="true" data-align="center" data-formatter="setAssistFlagFormatter">{% trans 'Assist?' %}</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-8 col-xs-12 bought-service-view hidden">

                            <!--generic info-->
                            <div class="margin-top-10 padding-bottom-percent-1">
                                <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6 center" id="bought-service-img">
                                            
                                </div>

                                <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                    <div clas>
                                        <div class="row">
                                            <header class="col-md-12 col-sm-12 col-lg-12 col-xs-12" title="">
                                                <h3 id="bought-service-title"></h3>
                                            </header>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                <h5>{% trans 'Categories' %}:</h5>
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                <h5 id="bought-service-categories"></h5>
                                            </div>
                                        </div>

                                        <div class="row" >
                                            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                <h5>{% trans 'Price' %}:</h5>
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                <span id="bought-service-price"></span>
                                            </div>
                                        </div>
                                        <div class="row" >
                                            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                <h5>{% trans 'Charging' %}:</h5>
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                <h5 id="bought-service-policy"></h5>
                                            </div>
                                        </div>
                                        <div class="row" >
                                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                <h5>{% trans 'Type' %}:</h5>
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                <h5 id="bought-service-type"></h5>
                                            </div>
                                        </div>
                                        <div class="row bought-machine-service hidden" >
                                            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                <h5>{% trans 'Licences' %}:</h5>
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                <h5 id="bought-service-license">{% trans 'None' %}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                                    
                            <!--description-->
                            <div class=" margin-top-10 padding-top-20 info-block" style="clear:both" >
                                <h3><span class="fa fa-caret-square-o-right"></span> {% trans 'What the service offers' %}</h3>
                                <p id="bought-service-descr" class="padding-left-5"><i class="fa fa-quote-left text-muted"></i><i class="fa fa-quote-right text-muted"></i></p>
                            </div>

                            <!--instructions-->
                            <div class="margin-top-10 padding-bottom-percent-1 info-block">
                                <h3 title="Show service instructions"><span class="fa fa-book"></span> {% trans 'Instructions' %}</h3>
                                <div class="margin-top-10 margin-bottom-10 padding-left-5">
                                    <h4>{% trans 'Requirements' %}</h4>
                                    <div id="bought-service-requirements">{% trans 'None' %}</div>
                                </div>

                                <div class="margin-top-10 margin-bottom-10 bought-machine-service hidden padding-left-5">
                                    <h4>{% trans 'How to install it' %}</h4>
                                    <div id="bought-service-installation"></div>
                                </div>

                                <div class="margin-top-10 margin-bottom-10 padding-left-5">
                                    <h4>{% trans 'How to exploit it' %}</h4>
                                    <div id="bought-service-usage-guide"></div>
                                </div>

                                <div class="margin-top-10 margin-bottom-10 padding-left-5 hidden">
                                    <h4>{% trans 'Useful link' %}</h4>
                                    <div id="bought-service-link"></div>
                                </div>
                            </div>
                                    
                            <!--Restrictions-->
                            <div class="margin-top-10 padding-bottom-percent-1 info-block" >
                                <h3><span class="fa fa-filter"></span> {% trans 'Restrictions' %}</h3>
                                <div class="margin-top-10 margin-bottom-10 hidden padding-left-5" id="bought-service-map">
                                    <h4>{% trans 'Spatial coverage' %}</h4>
                                    <div id="map" style="height:30%; min-height:300px; overflow:visible!important; border:1px solid dimgray" ></div>
                                </div>

                                <div class="margin-top-10 margin-bottom-10 padding-left-5">
                                    <h4>{% trans 'Languages availability' %}</h4>
                                    <div id="bought-service-languages">{% trans 'All languages are supported' %}</div>
                                </div>

                                        
                                <div class="margin-top-10 margin-bottom-10 padding-left-5">
                                    <h4>{% trans 'Other comment' %}</h4>
                                    <div id="bought-service-other-constraints"></div>
                                </div>
                            </div>

                            <!--configuration-->
                            <div class="margin-top-10 padding-bottom-percent-1 hidden info-block">
                                <h3><span class="fa fa-bell-o"></span> {% trans 'Service configuration' %}</h3>
                                <div id="bought-service-configuration" class="padding-left-5"></div>
                            </div>

                            <!--technical support-->
                            <div class="margin-top-10 padding-bottom-percent-1 info-block" >
                                <h3><span class="fa fa-support"></span> {% trans 'Troubleshooting' %}</h3>
                                <div class="padding-left-5">
                                    <h4>{% trans 'Videos' %}</h4>
                                    <div id="bought-service-support-videos"></div>
                                    <h4>{% trans 'Documents' %}</h4>
                                    <div id="bought-service-support-docs"></div>
                                    <h4>{% trans 'Ask a volunteer' %}</h4>
                                    <div id="bought-service-support-volunteers">{% trans 'No available' %}</div>
                                    <h4>{% trans 'Ask a professional' %}</h4>
                                    <div id="bought-service-support-volunteers">{% trans 'No available' %}</div>
                                    <h4> {% trans 'Chat with service provider' %}</h4>
                                    <div id="bought-service-provider-skype"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>  
            </div>
        </main>
    </div>
    {% endblock content %}


    {% block scripts %}
        <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
        <script src="{% static 'app/scripts/jquery.blockUI.js' %}"></script>
        <script src="{% static 'app/scripts/multiselect-bootstrap/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'app/scripts/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
        {% with 'app/scripts/bootstrap-table/dist/locale/'|add:bootstrap_table_locale_url as bootstrap_table_locale %}
            <script type="text/javascript" src="{% static bootstrap_table_locale %}"></script>
        {% endwith %}
        <script src="{% static 'app/scripts/p4a-lib/cookies.js' %}"></script>
        <script src="{% static 'app/scripts/p4a-lib/scroll-top.js' %}"></script>
        <script src="{% static 'app/scripts/p4a-lib/ajax-load.js' %}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM"></script>
        <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <script src="{% static 'app/scripts/p4a-lib/consumers/statistics/statistics.js' %}"></script>
        <script src="{% static 'app/scripts/jquery-ui/1.11.3/jquery-ui.min.js' %}"></script>

    {% endblock scripts %}