    <!--User navbar-->
  

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">      
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" title="Assistance On Demand Home page">
                    <img src="{{ MEDIA_URL }}app/aod/logos/logo2.png" alt="Prosperity 4 All logo">
                    <strong> AoDemand</strong>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
 
                    {% block navbarSearch %}
                    {% endblock navbarSearch %}


                    {% block preferencesTab %}
                        {% include "app/preferences.html" %}
                    {% endblock preferencesTab %}
                    

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" title="Settings" data-toggle="dropdown" role="button" aria-expanded="true">  
                            <span class="btn navbar-btn disable-btn-box-shadow navbar-btn-limited-padding"  id="settings_menu">
                                <span class="fa fa-user fa-lg"></span>{% if username %} My account {% endif %}<span class="fa fa-chevron-down fa-xs fa-fw"></span>
                            </span>
                        </a>   
                        <ul class="dropdown-menu under-construction" role="menu" aria-labelledby="settings_menu">
                            <li role="presentation">
                                <a href="{% url 'provider-dashboard' %}" title="Show the services you provide on AoD" role="menuitem" tabindex="-1">
                                    <span class="fa fa-archive fa-fw"></span> My offerings
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'consumer-dashboard' %}" title="Show the services you have purchased" role="menuitem" tabindex="-1">
                                    <span class="fa fa-area-chart fa-fw"></span> My collection
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="{{ links.profile }}" title="Manage your account" role="menuitem" tabindex="-1">
                                    <span class="fa fa-user fa-fw"></span> Account settings
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--link to NAS component -->
                    {% if links.is_nas_active %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" title="Settings" data-toggle="dropdown" role="button" aria-expanded="true">  
                            <span class="btn navbar-btn disable-btn-box-shadow navbar-btn-limited-padding"  id="guided_services">
                               <span class="fa fa-sitemap fa-lg"></span> Services network <span class="fa fa-chevron-down fa-xs fa-fw"></span>
                            </span>
                        </a> 
                        <ul class="dropdown-menu under-construction" role="menu" aria-labelledby="guided_services">
                            <li role="presentation">
                                <a href="{% url 'carer-landing-page' %}" title="Manage the requests related to network of assistance services" role="menuitem" tabindex="-1">
                                    <span class="fa fa-inbox fa-fw"></span> Guided assistance
                                </a>
                            </li>
    
                        </ul>
                    </li>
                    {% endif %}

                    <li>
                        <a href="{{ links.social_network }}" target="_blank" title="Social Network" class="under-construction">
                            <span class="btn navbar-btn disable-btn-box-shadow navbar-btn-limited-padding" role="button">
                                <span class="fa fa-cloud fa-lg"></span> Social Network 
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="{%url 'help' %}"  title="Help" class="under-construction">
                            <span class="btn navbar-btn disable-btn-box-shadow navbar-btn-limited-padding" role="button">
                                <span class="fa fa-question-circle fa-lg"></span> Help 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'cart' %}" title="Shopping card" class="under-construction">
                            <span class="btn navbar-btn disable-btn-box-shadow navbar-btn-limited-padding" role="button" style="margin-top: 12px">
                                <span class="fa fa-shopping-cart fa-lg"></span> <!--Cart-->
                                {% if links.cart_items > 0 %}
                                    <span class="label label-success">{{ links.cart_items }}</span>
                                {% endif %}
                            </span>
                        </a>
                    </li>
                    <li >
                        <a href="#" title="notification" class="under-construction">
                             <span class="btn navbar-btn disable-btn-box-shadow navbar-btn-limited-padding" role="button" style="margin-top: 12px">
                                  <span class="fa fa-bell-o fa-lg"></span> <!--Notifications-->
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" title="Log out">
                            <span class="btn navbar-btn disable-btn-box-shadow navbar-btn-limited-padding" role="button">
                                <span class="fa fa-power-off fa-lg"></span> Log out
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

