{% extends "app/base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %} AoD | {% trans 'My profile' %} {% endblock title %}

{% load staticfiles %}

{% block extraCss %}
    <link href="{% static 'app/content/fullcalendar-3.0.1/fullcalendar.css' %}" rel='stylesheet' />
    <link href="{% static 'app/content/fullcalendar-3.0.1/fullcalendar.print.css' %}" rel='stylesheet' media='print' />
{% endblock extraCss %}

{% block scripts %}
    <script src="{% static 'app/scripts/moment/moment.min.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/fullcalendar-3.0.1/fullcalendar.min.js' %}"></script>
    <script src="{% static 'app/scripts/fullcalendar-3.0.1/locale-all.js' %}"></script>
    <script src="{% static 'app/scripts/p4a-lib/ajax-load.js' %}"></script>
    <script src="{% static 'app/scripts/p4a-lib/cookies.js' %}"></script>

    <script>
        $(document).ready(function () {
            var initialLocaleCode = '{{LANGUAGE_CODE }}';
            var color = $(".text-success").css("color");

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                navLinks: true, // can click day/week names to navigate views
                locale: initialLocaleCode,
                weekNumbers: true,
                weekNumbersWithinDays: true,
                weekNumberCalculation: 'ISO',
                selectable: true,
                selectHelper: true,
                select: function(start, end) {
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events

                businessHours: [ // specify an array instead
                    {
                        dow: [ 1, 2, 3 ], // Monday, Tuesday, Wednesday
                        start: '08:00', // 8am
                        end: '18:00' // 6pm
                    },
                    {
                        dow: [ 4, 5 ], // Thursday, Friday
                        start: '10:00', // 10am
                        end: '16:00' // 4pm
                    }
                ],


                events: { 
                    url: '{% url 'private_api:service_reviews' 2 %}',
                    error: function() {
                        $('#script-warning').show();
                    }
                },
                events: [
                    {
                        title: 'All Day Event',
                        start: '2016-09-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2016-10-09T16:37',
                        end: '2016-10-09T16:55:00',
                        color: color
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-09-09T16:00:00'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-09-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2016-09-11',
                        end: '2016-09-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-09-12T10:30:00',
                        end: '2016-09-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2016-09-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-09-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2016-09-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2016-09-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2016-09-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2016-09-28'
                    }
                ]
            });

        });

</script>
{% endblock %}


{% block content %}
<div class="container body-content" style="margin-top: 50px; padding-bottom:2em">

    {% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home_page' %}" class="custom-inactive-breadcrumb"><i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
        <li class="active"> {% trans 'My calendar' %}</li>
    </ol>
    {% endblock breadcrumb %}

    <div id='calendar' class="platform-info-box" ></div>
</div>

{% endblock content %}


