{% load i18n %}
{% load l10n %}
    <article>
        <div class="preview-basic-info">
            {% if service.image.name %}
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div id="slider">
                    <div data-u="slides" id="service-slider">                       
                        <div>
                            <img data-u="image" class="img-rounded" src="{{ MEDIA_URL }}app/services/images/{{ service.image.name }}" alt="{{ service.image.name }}"  style="border: 1px solid dimgray"/>
                        </div>
                    </div>
                    <span data-u="arrowleft" class="jssora01l" style="top: 123px; left: 8px;"></span>
                    <span data-u="arrowright" class="jssora01r" style="top: 123px; right: 8px;"></span>
                </div>
            </div>
            <br />
            {% endif %}
            <!-- description -->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Description' %}</label>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12" title="{% trans 'The description of this service' %}">
                    <p id="description" style="text-align:justify">{{ service.description }}</p>
                </div>
            </div>
            <!-- version -->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Version' %}</label>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12" title="{% trans 'The version of this service' %}">
                    {% if service %}
                        <p id="version">{{ service.version|default:"Not available" }}</p>
                    {% endif %}
                </div>
            </div>
            <!-- license -->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Licenses' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The license of this service' %}">
                    {% if service %}
                        <p id="license">{{ service.license|default:"Not available" }}</p>
                    {% endif %}
                </div>
            </div>
            <!--types-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Type' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="The type of this service">
                    <p id="type">
                        {% if service %}
                            {% if service.type == 'M'%}
                                {% trans 'The operation of this service is machine-based' %}.
                            {% else %}
                                {% trans 'The operation of this service is human-based' %}.
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
            <!--Cost-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Price' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The price and the charging policy of the service' %}">
                    <p id="price">
                        {% if service %}
                            {% if service.charging_policy_id == 1 %}
                                {% trans 'Free' %}
                            {% else %}
                                {{ service.unit}} {{service.price}} ({{ service.charging_policy }})
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>  
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Categories' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'Related categories' %}">
                    <p id="categories">
                        {% if categories %}
                            {% for i in categories %}
                                <a href="#" class="btn btn-default btn-xs">{{i.title}}</a>
                            {% empty %}
                                {% trans 'No related categories' %}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>
            <!--requirements-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Requirements' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The services requirements, if exist' %}">
                    <p id="requirements" style="text-align: justify">
                        {% if service %}
                            {% if service.requirements %}
                                {{  service.requirements|default_if_none:"No requirements required" }}
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div> 
            <!--installation_guide-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Installation guidelines' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'A set of installation instructions of the service for the users' %}">
                    <p id="installation_guide" style="text-align: justify">
                        {% if service %}
                            {{  service.installation_guide|default:"No instructions provided" }}
                        {% endif %}
                    </p>
                </div>
            </div> 
            <!--usage_guidelines-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Usage guidelines' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'A brief set of usage instructions' %}">
                    <p id="usage_guidelines" style="text-align: justify">
                        {% if service %}
                            {{  service.usage_guidelines|default:"No instructions provided" }}
                        {% endif %}
                    </p>
                </div>
            </div>


            <!--downloads-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Downloads' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'Download the data that the service provides' %}">
                    <p style="text-align: justify">
                        {% if service %}
                            {{ service.title}}_{{ service.software.name }} <a id="download_sw" data-link="{{ MEDIA_URL }}app/services/packages/{{service.software.name}}" rel="nofollow" download href="{{ MEDIA_URL }}app/services/packages/{{service.software.name}}"> <i class="fa fa-download"></i></a>
                        {% endif %}
                    </p>
                </div>
            </div> 
            <!--links-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Useful links' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'Follow this link in order to use the service' %}">
                    <p id="link" style="text-align: justify">
                        {% if service %}
                            Follow the link <a href="{{service.link}}" onclick="alert('to do'); return false;">{{  service.link|default:"http://localhost:8000" }}  <i class="fa fa-external-link fa-fw"></i></a>
                        {% endif %}
                    </p>
                </div>
            </div> 
            <!--accessibility-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Access' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The accessibility rule for the service' %}">
                    <p id="accessibility">
                        {% if service %}
                            {% if service.availability %}
                                {% trans 'Public - any registered user can purchase or use it' %}
                            {% else %}
                                {% trans 'Private - only a group of users can purchase or use it' %}
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div> 
            <!--language_constraint-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Language availability' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="Any language constraints, if exist">
                    <p id="language_constraint">
                        {% if service.language_constraint %}
                            {% for i in languages %}
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-language text-success"></i> {{ i }}</a>
                            {% endfor %}
                        {% else %}
                            All languages supported
                        {% endif %}
                    </p>
                </div>
            </div> 
            <!--location_constraint-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Spatial coverage' %}</label>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12" title="Any location constraints, if exist">
                    <div id="location_constraint">
                        {% if service %}
                            {% if service.location_constraint %}
                                <div id="map" style="height:40%; min-height:250px; border:1px solid dimgray"></div>
                            {% else %}
                                {% trans 'There is no spatial constraints' %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div> 
            <!--constraints-->
            {% if service %}
                {% if service.constraints %}
                    <div class="row">
                       <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                            <label class="pull-right">{% trans 'Other constraints/comments' %}</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'Any other constraints' %}">
                            <p id="constraints"> 
                            {{ service.constraints }}
                            </p>
                        </div>
                    </div> 
                {% endif %}
            {% endif %}

            <!--is_available-->
            <br />
            <div class="row hidden">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="pull-right">{% trans 'Availability' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The status of the service. Is it available for users search?' %}">
                    <p id="availability">
                        {% if service %}
                            {% if service.is_available %}
                                {% trans 'The service is available for usage' %}
                            {% else %}
                                {% trans 'Not available' %}
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </article>

