 
{% block bankSettings  %}
    <div class="bank-account-info-box">
        <!--header-->
        <div class="form-group">
            <div class="col-sm-12 col-xs-12" role="heading">
                <h4 title="Payment settings">Payment settings</h4>
            </div>
        </div>

        <hr class="profile-hr">
        <div class="form-group">
            <div class="col-md-12 col-sm-12 text-center">
                <button class="btn btn-default btn-sm disabled" id="edit-profile-info" name="edit-profile-info" role="button"><i class="fa fa-pencil"></i> Edit</button>
            </div>
        </div>
    </div>

 {% endblock bankSettings  %}


{% block scripts %}

{% endblock scripts %}