{% extends "app/base.html" %}
    {% load i18n %}
    {% load l10n %}
    {% block title %} 
        AoD | {% trans 'Assistance network preview' %}
    {% endblock title %}

    {% load staticfiles %}

    {% block extraCss %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui/1.11.3/jquery-ui.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/my-tooltip.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-table/bootstrap-table.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/sweetalert/sweetalert.css' %}" />

    {% endblock extraCss %}


    {% load staticfiles %}


{% block content %}
    <div class="container body-content margin-top-50 padding-bottom-em-2">
        <div class="row text-center" style="min-height: 75%; background-color: white; border:1px solid lightgray; border-radius:4px; padding-top:10%">
            <div class="col-sm-12 col-md-12 col-lg-12 col-sm-12">
                <h1 style="color:green; font-size:100px; font-style:oblique" class="padding-bottom-10">404</h1>

                <h2 style="color:gray"> PAGE NOT FOUND</h2>
            </div>
        </div>
    </div>


{% endblock %}
