{% extends "app/errors/errors_base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %} 
    AoD | {% trans 'Assistance network preview' %}
{% endblock title %}


{% block message %}
    <h1 class="brand-success padding-bottom-10" style="font-size:100px;">{% trans 'Error' %} 404</h1>
    <h2 style="color:gray"> {% trans 'Page NOT FOUND' %}</h2>
    <div class="clearfix">
        {% if username %}
            <a href="{% url 'home_page' %}" title="{% trans 'Browse on the home page' %}">{% trans 'Browse on the home page' %}</a>
        {% else %}
            <a href="{% url 'home_page' %}" title="{% trans 'Browse on the landing page' %}">{% trans 'Browse on the landing page' %}</a>
        {% endif %}
    </div>
{% endblock %}
