{% extends "app/base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %} AoD | {% trans 'Edit your service' %} {% endblock title %}

 {% load staticfiles %}

{% block extraCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui/1.11.3/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/my-tooltip.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/sweetalert/sweetalert.css' %}" />
{% endblock extraCss %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/multiselect-bootstrap/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/cookies.js' %}"></script>">
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/scroll-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/ajax-load.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/swap-buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/sweetalert/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery-ui/1.11.3/jquery-ui.min.js' %}"></script>
    {% with 'https://maps.googleapis.com/maps/api/js?key='|add:google_maps_key as google_map_url %}
    <script type="text/javascript" src="{{ google_map_url }}" ></script>
    {% endwith %}
    <script type="text/javascript">
        var selectedCategories = [];
        {% for i in service.categories.all %}
            selectedCategories.push("{{ i.id }}");
        {% endfor %}

        var selectedLanguages = [];
        {% for l in service.languages.all %}
            selectedLanguages.push("{{ l.alias }}");
        {% endfor %}

        {% if service.type == "M" %}
            $("#version_input").removeClass('hidden');
            $("#license_input").removeClass('hidden');
        {% endif %}

        $(window).load(function () {
            {% if service %}
                crowdPartState('{{ service.is_public }}');
                langBtnState('{{ service.language_constraint }}');
                geolocationBtnState('{{ service.location_constraint }}');
                {% if service.is_visible %}
                    $("#terms").attr("checked", true);
                    $('#update-btn').removeClass('disabled');
                {% endif %}
            {% endif %}
        });
    </script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/aod.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/consumers/services/register.js' %}"></script>
{% endblock scripts %}


{% block content %}

<div class="container body-content" style="margin-top: 50px; padding-bottom:2em;">

    {% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home_page' %}" class="custom-inactive-breadcrumb" title="{% trans 'Home page' %}">
            <span class="fa fa-home"></span> {% trans 'Home' %} </a>
        </li>
        <li>
            <a href="{% url 'provider_dashboard' %}" class="custom-inactive-breadcrumb" title="My collection">{% trans 'My offerings' %}</a>
        </li>
        <li><a href="{% url 'public_service_view' service.id %}" class="custom-inactive-breadcrumb">{{ service.title|capfirst }}</a></li>
        <li class="active">{% trans 'Edit' %}</li>
    </ol>
    {% endblock breadcrumb %}


    <main role="main">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div id="service-registration-wizard">
                    <div class="tabbable">
                        <ul id="tabs" class="nav nav-pills nav-justified" data-tabs="tabs">
                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab">
                                    <h5>{% trans 'Basic information'%}</h5> 
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step2" data-toggle="tab">
                                    <h5>{% trans 'Charging Policy' %}</h5>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step3" data-toggle="tab" >
                                    <h5>{% trans 'Usage' %}</h5>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step4" data-toggle="tab" >
                                    <h5>{% trans 'Constraints' %}</h5>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step5" data-toggle="tab" >
                                    <h5>{% trans 'Technical Support' %}</h5>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step6" data-toggle="tab" >
                                    <h5>{% trans 'Register' %}</h5>
                                </a>
                            </li>
                        </ul>
                        <div id="my-tab-content" class="tab-content">
                            <div class="col-lg-1 col-md-1 col-sm-1 " role="navigation" style="position:absolute">
                                <ul class="pager">
                                    <li class="previous hidden" onclick="previousStep();">
                                        <a href="#">
                                            <i class="fa fa-chevron-left fa-3x"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                                
                            <div class="tab-pane active" id="step1">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1"  role="main">
                                    {% include "app/prosumers/provider-dashboard/services/registration/basic.html" %}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="step2" style="color:black">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1"  role="main">
                                    {% include "app/prosumers/provider-dashboard/services/registration/charging.html" %}
                                </div>
                            </div>

                            <div class="tab-pane" id="step3" style="color:black">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1"  role="main">
                                    {% include "app/prosumers/provider-dashboard/services/registration/usage.html" %}
                                </div>
                            </div>

                            <div class="tab-pane" id="step4" style="color:black">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1"  role="main">
                                    {% include "app/prosumers/provider-dashboard/services/registration/constraints.html" %}
                                </div>
                            </div>

                            <div class="tab-pane" id="step5" style="color:black">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1"  role="main">
                                    {% include "app/prosumers/provider-dashboard/services/registration/support.html" %}
                                </div>
                            </div>
                            <div class="tab-pane" id="step6" style="color:black">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-sm-offset-1"  role="main">
                                    {% include "app/prosumers/provider-dashboard/services/registration/confirm.html" %}
                                </div>
                            </div>

                                
                            <div class="col-lg-1 col-md-1 col-sm-1 " role="navigation" style="position:relative" title="Procced to next step">
                                <ul class="pager">
                                    <li class="next" id="navigate-next-btn" onclick="nextStep();" style="background-color:#ffd800!important">
                                        <a href="#" class="text-center"> 
                                            <i class="fa fa-chevron-right fa-3x"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock content %}


