<!-- Preferences tab in navbar -->
{% load i18n %}
{% load l10n %}
{% block preferencesTab %}

<li class="dropdown under-construction" aria-label="Accesibility preferences">
    <a href="#" class="dropdown-toggle" title="{% trans 'Setup your preferences'%} " data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="btn navbar-btn disable-btn-box-shadow" role="button">
            {#<span class="fa fa-paint-brush" aria-label="Configurate your preferences"></span>#} {% trans 'Preferences' %}
            <span class="fa fa-caret-down"></span>
        </span>
    </a>  
    <ul class="dropdown-menu" role="menu" >
        <!-- font size -->
        <li role="presentation" style="margin-left:2px">
            <a href="#font-size" title="{% trans 'Customize the font size' %}" class="disabled" disable role="menuitem" tabindex="-1">
                <span class="fa fa-text-height"></span> {% trans 'Font size' %}
            </a>
        </li>
        <li style="padding: 3px 20px">
            <span>
                <a class="btn btn-info btn-sm increase-font-size" href="#" id="increase-font-size" role="button" title="{% trans 'Increase font-size' %}" aria-label="Increase font-size">
                    {% trans 'Increase font-size' %}
                </a>
            </span>
        </li>
        <li style="padding: 3px 20px">
            <span id="modify-font-size">
                <button class="btn btn-warning btn-sm decrease-font-size" href="#" id="decrease-font-size" role="button" title="{% trans 'Decrease font-size' %}" aria-label="Decrease font-size">
                    {% trans 'Decrease font-size' %}
                </button>
            </span>
        </li>

        <li role="separator" class="divider"></li>
        <!-- font style -->
        <li role="presentation" style="margin-left:2px">
            <a href="#font-style" title="{% trans 'Customize the font style' %}" class="disabled" disable role="menuitem" tabindex="-1">
                <span class="fa fa-font"></span> {% trans 'Font style' %}
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li role="presentation" style="margin-left:2px">
            <a href="#line-spacing" title="{% trans 'Customize the line spacing' %}" class="disabled" disable role="menuitem" tabindex="-1">
                <span class="fa fa-navicon"></span> {% trans 'Line spacing' %}
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <li role="presentation">
            <a href="{% url 'preferences_themes' %}" title="{% trans 'Choose your favorite theme layout' %}" role="menuitem" tabindex="-1">
                <span class="fa fa-picture-o fa-fw"></span> {% trans 'Theme layout' %}
            </a>
        </li>
    </ul>
</li>

{% endblock preferencesTab %}
