{% extends "app/base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %} AoD | {% trans 'Technical support' %} - {{ service.title }} {% endblock title %}

{% load staticfiles %}

{% block extraCss %}
{% endblock extraCss %}


{% block content %}
<div class="container body-content" style="margin-top: 50px; padding-bottom:2em">

    {% block breadcrumb %}
        <ol class="breadcrumb custom-inactive-breadcrumb" role="navigation" aria-label="breadcrumb">
            <li><a href="{% url 'home_page' %}" class="custom-inactive-breadcrumb" title="{% trans 'Home page' %}"><span class="fa fa-home"></span> {% trans 'Home' %}</a></li>
            <li><a href="{% url 'provider_dashboard' %}" class="custom-inactive-breadcrumb" title="{% trans 'My offerings' %}">{% trans 'My offerings' %}</a></li>
            <li><a href="{% url 'public_service_view' service.id %}" class="custom-inactive-breadcrumb" title="{{ service.title}}">{{ service.title|capfirst }}</a></li>
            <li class="active">{% trans 'Technical support' %}</li>
        </ol>
    {% endblock breadcrumb %}

    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 platform-info-box" style="min-height:450px">
        <section role="region" >
            <h2>{% trans 'Technical support' %} {% trans 'for' %} {{ service.title|capfirst }}</h2>
            <hr class="service-hr"/>

            <!--list materials-->
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="list-group" id="listed-materials">
                    <h3><span class="fa fa-folder-open-o"></span> {% trans 'Uploaded materials' %}
                        <!-- Single button -->
                        <div class="btn-group pull-right"  aria-label="{% trans 'Add a material related to technical support of the service' %} ">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans 'New material' %} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#shared_link" class="show-insert-material-form">{% trans 'Add shared link' %}</a></li>
                                <li><a href="#upload_video"  class="show-insert-material-form">{% trans 'Upload new video/audio' %}</a></li>
                                <li><a href="#upload_doc"  class="show-insert-material-form">{% trans 'Upload new document' %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#add_youtube"  class="show-insert-material-form">{% trans 'Add YouTube video' %}</a></li>
                            </ul>
                        </div>
                    </h3>
                    <a href="#materials" class="list-group-item">
                        <span style="font-weight: 700;">{% trans 'Title' %} </span><span class="fa fa-sort-alpha-asc"></span>
                        <span style="font-weight: 700;" class="pull-right">{% trans 'Pub date' %}</span>
                    </a>
                    {% for m in technicalSupportList %}
                        <a href="#material_{{m.id}}" data-resource="{% url 'private_api:technical_material' m.id%}" class="list-group-item show-preview-material-form" data-pk="{{m.id}}">
                            {% if m.format == "pdf" %}
                            <span class='fa fa-file-pdf-o text-danger fa-lg'></span>
                            {% elif m.format == "doc"  %}
                            <span class='fa fa-file-word-o text-primary fa-lg'></span>
                            {% elif m.format == "mp4" %}
                            <span class='fa fa-file-movie-o text-default fa-lg'></span>
                            {% else %}
                            <span class='fa fa-file-o text-default fa-lg'></span>
                            {% endif %}
                            <span>{{m.title|safe|capfirst}} {% if m.visible %}<span class="fa fa-eye"></span>{% else %}<span class="fa fa-eye-slash"></span>{% endif %}</span>
                            <span class="pull-right">{{ m.created_date }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <!--preview material-->
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12" id="preview-material" style="background-color: white">
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 hidden" id="add-material" style="background-color: white">
                <h3>{% trans 'Add new technical material' %}</h3>
                <hr class="service-hr"/>
                <form action="#" name="AddServiceTechnicalMaterial" id="AddServiceTechnicalMaterial">
                    <!--title-->
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-12">
                            <label class="text-right control-label hidden-xs" for="title" title="{% trans 'Enter the title of the service' %}">{% trans 'Title' %}<span class="highlight-error-message"> *</span></label>
                            <label class="text-left control-label visible-xs" for="title" title="{% trans 'Enter the title of the service' %}">{% trans 'Title' %}<span class="highlight-error-message"> *</span></label>
                        </div>
                        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 input-group controls" title="{% trans 'Enter the title of the service' %}">
                            <input type="text" class="form-control" name="title" id="title" value="" autocomplete="off" maxlength="128" autofocus required/>    
                        </div>
                    </div>
                    <!--description-->
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-12">
                            <label class="text-right control-label hidden-xs" for="software_dependencies" title="{% trans 'Enter the title of the service' %}">{% trans 'Dependencies' %}</label>
                            <label class="text-left control-label visible-xs" for="software_dependencies" title="{% trans 'Enter the title of the service' %}">{% trans 'Dependencies' %}</label>
                        </div>
                        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 input-group controls" title="{% trans 'Enter the title of the service' %}">
                            <textarea class="form-control" rows="5" id="software_dependencies"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-12">
                            <label class="text-right control-label hidden-xs" for="material" title="{% trans 'Enter the title of the service' %}">{% trans 'Material' %}</label>
                            <label class="text-left control-label visible-xs" for="material" title="{% trans 'Enter the title of the service' %}">{% trans 'Material' %}</label>
                        </div>
                        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 input-group controls" title="{% trans 'Enter the title of the service' %}">
                            <input type="file" class="form-control" name="material" id="material" value="" autocomplete="off" maxlength="128" autofocus required/>    
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-12">
                            <label class="text-right control-label hidden-xs" for="visible" title="{% trans 'Enter the title of the service' %}">{% trans 'Visible' %}</label>
                            <label class="text-left control-label visible-xs" for="visible" title="{% trans 'Enter the title of the service' %}">{% trans 'Visible' %}</label>
                        </div>
                        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 input-group controls" title="{% trans 'Enter the title of the service' %}">
                            <input type="checkbox"name="visible" id="visible" required/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-9 col-xs-12 input-group controls" title="{% trans 'Mandatory fields' %}">
                            <h5><strong class="text-center highlight-error-message">* {% trans 'Mandatory fields' %}</strong></h5>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3 col-xs-12"></div>
                        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 input-group controls">
                            <button type="submit" class="btn btn-success"> {% trans 'Submit' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock content %}


{% block scripts %}
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.blockUI.js' %}"></script>
    <script src="{% static 'app/scripts/p4a-lib/ajax-load.js' %}"></script>
    <script src="{% static 'app/scripts/p4a-lib/cookies.js' %}"></script>
    <script src="{% static 'app/scripts/p4a-lib/swap-buttons.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".list-group-item").click(function () {
                $(".list-group-item").removeClass('active');
                $(this).addClass('active');
                retrieveTechnicalSupportObject($(this).data('pk'), $(this).data('resource'));
            });
            //
            // Display form related to new material
            //
            $(".show-insert-material-form").click(function () {
                $("#add-material").removeClass('hidden');
                $("#preview-material").addClass('hidden');
            });
            //
            // Display form related to existing material
            //
            $(".show-preview-material-form").click(function () {
                $("#add-material").addClass('hidden');
                $("#preview-material").removeClass('hidden');
            })
        })


        function retrieveTechnicalSupportObject(pk, url) {
            //
            // Retrieve a specific service's technical support material 
            //
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                contentType: 'application/json',
                success: function (response) {
                    var preview = "";
                    
                    if (response.format.toLowerCase() === "pdf") {
                        preview = "<iframe  title='{{ response.title }}' width='90%' height='380' frameborder='0' src='{{ MEDIA_URL }}" + response.path + "' ebkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>";
                    }
                    else if (response.format.toLowerCase() === "mp4"){
                        preview = [
                            '<div class="embed-responsive embed-responsive-16by9 videoUiWrapper">',
                                '<span class="padding-bottom-10"></span>',
                                '<video style="width:100%" controls  title="" class="embed-responsive-item">',
                                    '<source src="{{ MEDIA_URL }}' + response.path + '" type="video/mp4">',
                                    gettext('Your browser does not support the video tag.'),
                                '</video>',
                            '</div>'
                        ].join('');
                        console.log(preview);
                    }

                    var html = [
                        '<h3>' + response.title + '<span ><small>',
                                ' <a href="#edit_' + response.id + '" class="text-danger pull-right"><span class="fa fa-trash"></span> ' + gettext("Delete") + '  </a>',
                                '<a href="#edit_' + response.id + '" class="text-success pull-right"><span class="fa fa-edit"></span> ' + gettext("Edit") + '</a>',
                            '</small><span>',
                        '</h3>',
                        '<hr class="service-hr">',
                        '<div class="row">',
                            '<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 thumbnail" style="min-height:250px">',
                                preview,
                            '</div>',
                        '</div>',
                        '<div class="row">',
                            '<div class="col-sm-4 col-md-4">',
                                gettext("Format"),
                            '</div>',    
                            '<div class="col-sm-8 col-md-8">',
                                response.format.toUpperCase(),
                            '</div>',
                        '</div>',
                        '<div class="row">',
                            '<div class="col-sm-4">',
                                gettext("Dependencies"),
                            '</div>',
                            '<div class="col-sm-8">',
                                response.software_dependencies.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}),
                            '</div>',
                        '</div>',
                        '<div class="row">',
                            '<div class="col-sm-4">',
                                gettext("Type of material"),
                            '</div>',
                            '<div class="col-sm-8">',
                                response.technical_support.type.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}),
                            '</div>',
                        '</div>',
                        '<div class="row">',
                            '<div class="col-sm-4">',
                                gettext("Resource path"),
                            '</div>',
                            '<div class="col-sm-8">',
                                response.path,
                            '</div>',
                        '</div>',
                        '<div class="row">',
                            '<div class="col-sm-4">',
                                gettext("Created date"),
                            '</div>',
                            '<div class="col-sm-8">',
                                response.created_date,
                            '</div>',
                        '</div>',
                        '<div class="row">',
                            '<div class="col-sm-4">',
                                gettext("Modified date"),
                            '</div>',
                            '<div class="col-sm-8">',
                                response.modified_date,
                            '</div>',
                        '</div>',
                        '<div class="row">',
                            '<div class="col-sm-4">',
                                gettext("Is it visible?"),
                            '</div>',
                            '<div class="col-sm-8">',
                                (!!response.visible === true) ? gettext('Yes'): gettext('No'),
                            '</div>',
                        '</div>',
                    ].join('');
                    $("#preview-material").html(html);
                },
                error: function (response) {
                },
                complete: function () {
                }
            });
        }
    </script>
{% endblock %}
