 {% extends "app/base.html" %}
    {% load i18n %}
    {% load l10n %}
    {% block title %} 
        AoD | {% trans 'Assistance network preview' %}
    {% endblock title %}

    {% load staticfiles %}

    {% block extraCss %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui/1.11.3/jquery-ui.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/my-tooltip.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-table/bootstrap-table.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/sweetalert/sweetalert.css' %}" />

    {% endblock extraCss %}

    {% block navbar %}
        {% include "app/navbar-users.html" %}
    {% endblock navbar %}

    {% load staticfiles %}

    {% block content %}
    <div class="container body-content margin-top-50 padding-bottom-em-2">
    
        {% block breadcrumb %}
        <ol class="row breadcrumb" aria-label="breadcrumb">
            <li>
                <a href="{% url 'home_page' %}" class="custom-inactive-breadcrumb" title="{% trans 'Home page' %}">
                    <span class="fa fa-home"></span> {% trans 'Home' %}
                </a>
            </li>
            <li>
                <a href="{% url 'guided_assistance_landing_page' %}"  class="custom-inactive-breadcrumb" title="{% trans 'Network of Assistance Services' %}">
                    {% trans 'Network of Assistance Services' %}
                </a>
            </li>
            <li> {% trans 'Preview' %}</li>
        </ol>
        {% endblock breadcrumb %}


        <main role="main" >
            <div class="row service-list-box" style="min-height: 100%;">

                <div class="margin-bottom-10">
                    <h2 id="target-user" data-target-id="{{ consumer.id }}"><span class="fa fa-user fa-fw"></span> {{ consumer.info }}</h2>
                    
                </div>

                <div class="tabbable" style="border-bottom: 1px solid #ddd">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li role="presentation" class="active">
                            <a href="#purchased" data-toggle="tab" class="swap-tab" title="List of purchased services">
                                <h4 class="custom-tab-black-color">{% trans 'Purchased services' %}</h4>
                            </a>
                        </li> 
                        <li role="presentation" >
                            <a href="#wishlist" data-toggle="tab" class="swap-tab" title="List of interesting services (wish list)">
                                <h4 class="custom-tab-black-color">{% trans 'WishList'%} {% trans '(Interesting services)' %}</h4> 
                            </a>
                        </li>
                    </ul>
                    <div id="my-tab-content" class="tab-content padding-right-20 padding-left-20 padding-top-10" style="background-color:#fff; border-radius: 0 1px 5px 5px">                                      
                    
                        <div class="tab-pane  active" id="purchased" style="color:black;">
                            <section class="row margin-top-10">
                                <div class="col-sm-5 col-md-5 col-lg-4 col-xs-12" >
                                    <table id="purchased-services-table" 
                                            data-classes="table table-hover"
                                            data-search="false"  
                                            data-show-toggle="false"
                                            data-show-columns="false"
                                            data-card-view="false"
                                            data-color="blue"
                                            data-click-to-select="true"
                                            data-toolbar="#carer-request"
                                            data-pagination="true"
                                            data-page-list="[10, 25, 40, 75]"
                                            data-sort-name="title" data-sort-order="asc">
                                        <thead class="custom-aod-table-thead">
                                        <tr>
                                            <th data-field="radio" data-radio="true" data-visible="true">#</th>
                                            <th data-field="id" class="hidden" data-visible="false"></th>
                                            <th data-field="title" data-align="left" data-sortable="true">{% trans 'Service title' %}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="col-sm-7 col-md-7 col-lg-8 col-xs-12 bought-service-view hidden" style="background-color: whitesmoke">

                                    <!--generic info-->
                                    <div class="margin-top-10 padding-bottom-percent-1">
                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6 center" id="bought-service-img">
                                            
                                        </div>

                                        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                            <div style="padding-left: 4%">
                                                <div class="row">
                                                    <header class="col-md-12 col-sm-12 col-lg-12 col-xs-12" title="">
                                                        <h3 id="bought-service-title"></h3>
                                                    </header>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                        <h5>{% trans 'Categories' %}:</h5>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                        <h5 id="bought-service-categories"></h5>
                                                    </div>
                                                </div>

                                                <div class="row" >
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                        <h5>{% trans 'Price'%}:</h5>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                        <span id="bought-service-price"></span>
                                                    </div>
                                                </div>
                                                <div class="row" >
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                        <h5>{% trans 'Charging'%}:</h5>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                        <h5 id="bought-service-policy"></h5>
                                                    </div>
                                                </div>
                                                <div class="row" >
                                                     <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                        <h5>{% trans 'Type' %}:</h5>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                        <h5 id="bought-service-type"></h5>
                                                    </div>
                                                </div>
                                                <div class="row bought-machine-service hidden" >
                                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                                        <h5>{% trans 'Licences' %}:</h5>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                                        <h5 id="bought-service-license">{% trans 'None' %}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    
                                    <!--description-->
                                    <div class=" margin-top-10 padding-top-20 info-block" style="clear:both" >
                                        <h3><span class="fa fa-caret-square-o-right"></span> {% trans 'What the service offers' %}</h3>
                                        <p id="bought-service-descr" class="padding-left-5"><i class="fa fa-quote-left text-muted"></i><i class="fa fa-quote-right text-muted"></i></p>
                                    </div>

                                    <!--instructions-->
                                    <div class="margin-top-10 padding-bottom-percent-1 info-block">
                                        <h3><span class="fa fa-book"></span> {% trans 'Instructions'%}</h3>
                                        <div class="margin-top-10 margin-bottom-10 padding-left-5">
                                            <h4>{% trans 'Requirements'%}</h4>
                                            <div id="bought-service-requirements">{% trans 'None' %}</div>
                                        </div>

                                        <div class="margin-top-10 margin-bottom-10 bought-machine-service hidden padding-left-5">
                                            <h4>{% trans 'How to install it' %}</h4>
                                            <div id="bought-service-installation"></div>
                                        </div>

                                        <div class="margin-top-10 margin-bottom-10 padding-left-5">
                                            <h4>{% trans 'How to exploit it' %}</h4>
                                            <div id="bought-service-usage-guide"></div>
                                        </div>
                                        <div class="margin-top-10 margin-bottom-10 padding-left-5 hidden">
                                            <h4>{% trans 'Useful link' %}</h4>
                                            <div id="bought-service-link"></div>
                                        </div>
                                    </div>
                                    
                                    <!--Restrictions-->
                                    <div class="margin-top-10 padding-bottom-percent-1 info-block" >
                                        <h3><span class="fa fa-filter"></span> {% trans 'Restrictions' %}</h3>
                                        <div class="margin-top-10 margin-bottom-10 padding-left-5">
                                            <h4>{% trans 'Languages availability'%}</h4>
                                            <div id="bought-service-languages">{% trans 'All languages are supported'%}</div>
                                        </div>

                                        <div class="margin-top-10 margin-bottom-10 hidden padding-left-5" id="bought-service-map">
                                            <h4>{% trans 'Spatial coverage'%}</h4>
                                            <div id="map" style="height:30%; min-height:300px; overflow:visible!important; border:1px solid dimgray" ></div>
                                        </div>
                                        
                                        <div class="margin-top-10 margin-bottom-10 padding-left-5">
                                            <h4>{% trans 'Other comment'%}</h4>
                                            <div id="bought-service-other-constraints"></div>
                                        </div>
                                    </div>

                                    <!--configuration-->
                                    <div class="margin-top-10 padding-bottom-percent-1 hidden info-block">
                                        <h3><span class="fa fa-bell-o"></span> {% trans 'Service configuration' %}</h3>
                                        <div id="bought-service-configuration" class="padding-left-5"></div>
                                    </div>

                                    <!--technical support-->
                                    <div class="margin-top-10 padding-bottom-percent-1 info-block" >
                                        <h3><span class="fa fa-support"></span> {% trans 'Troubleshooting'%}</h3>
                                        <div class="padding-left-5">
                                            <h4>{% trans 'Videos' %}</h4>
                                            <div id="bought-service-support-videos"></div>
                                            <h4>{% trans 'Documents' %}</h4>
                                            <div id="bought-service-support-docs"></div>
                                            <h4>{% trans 'Ask a volunteer' %}</h4>
                                            <div id="bought-service-support-volunteers">{% trans 'No available' %}</div>
                                            <h4>{% trans 'Ask a professional' %}</h4>
                                            <div id="bought-service-support-volunteers">{% trans 'No available' %}</div>
                                            <h4>{% trans 'Chat with service provider' %}</h4>
                                            <div id="bought-service-provider-skype"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="tab-pane fade" id="wishlist">
                            <table id="selected-services-table" 
                                    data-classes="table table-hover "
                                    data-search="true"  
                                    data-show-toggle="false"
                                    data-show-columns="true"
                                    data-card-view="false"
                                    data-click-to-select="false"
                                    data-pagination="true"
                                    data-page-list="10, 20, 30, 50]" 
                                    data-sort-name="title" data-sort-order="asc">
                                <thead class="custom-aod-table-thead">
                                <tr>
                                    <th data-field="id" data-sortable="true" data-switchable="false" data-visible="false" ></th>
                                    <th data-field="title" data-align="center" data-sortable="true">{% trans 'Service title' %}</th>
                                    <th data-field="description" data-align="center" data-sortable="true" >{% trans 'Description' %}</th>
                                    <th data-field="type" data-align="center" data-sortable="true" data-visible="true" data-formatter="setTypeFormatter">{% trans 'Type' %}</th>
                                    <th data-field="price" data-sortable="true" data-visible="true" >{% trans 'Price' %}</th>
                                    <th data-field="action" data-sortable="true" data-visible="true" data-formatter="setRemoveFormatter">{% trans 'Delete' %}</th>
                                </tr>
                                </thead>
                            </table>

                        </div>

                        <br>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 margin-top-50" style="clear:both">
                    <center>
                        <a href="{% url 'guided_assistance_landing_page' %}" class="btn btn-default" >{% trans 'Back to carer dashboard' %}</a>
                    </center>
                </div>
            </div>
        </main>
    </div>

    {% endblock content %}


    {% block scripts %}
        <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
        <script src="{% static 'app/scripts/p4a-lib/cookies.js' %}"></script>
        {% with 'https://maps.googleapis.com/maps/api/js?key='|add:google_maps_key as google_map_url %}
        <script type="text/javascript" src="{{ google_map_url }}" ></script>
        {% endwith %}
        <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
        <script src="{% static 'app/scripts/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
        {% with 'app/scripts/bootstrap-table/dist/locale/'|add:bootstrap_table_locale_url as bootstrap_table_locale %}
            <script type="text/javascript" src="{% static bootstrap_table_locale %}"></script>
        {% endwith %}
        <script src="{% static 'app/scripts/jquery.blockUI.js' %}"></script>
        <script src="{% static 'app/scripts/p4a-lib/scroll-top.js' %}"></script>
        <script src="{% static 'app/scripts/p4a-lib/ajax-load.js' %}"></script>
        <script src="{% static 'app/scripts/p4a-lib/nas/preview/main.js' %}"></script>


        <script type="text/javascript">
            
            google.maps.event.addDomListener(window, 'load', getMap);

            $(document).ready(function () {
                var selectedServices = [];
                var purchasedServices = [];

                {% if selectedServices %}
                    {% for i in selectedServices %}

                    selectedServices.push({
                        'id': '{{ i.id }}', 
                        'title' : '{{i.title}}',    
                        'description': '{{ i.description }} ', 
                        'type': '{{ i.type }}', 
                        'price': '{{ i.price }}' +' ({{i.unit}})',
                        'consumerId': '{{consumer.id}}',
                        'url': "{% url 'guided_assistance_temp_services' %}"
                    });
                    {% endfor %}
                {% endif %} 
                console.log(selectedServices);

                $('#selected-services-table').bootstrapTable({
                    data: selectedServices
                });
                


                {% if purchasedServices %}
                    {% for i in purchasedServices %}
                    purchasedServices.push({
                        'id': '{{ i.id }}', 
                        'title' : '{{i.title}}',
                        'details_url': '{% url 'private_api:detailed_service' i.id %}',
                        'config_url': '{% url 'private_api:assist_consumer_service_config' consumer.id i.id %}',
                        'image_url': '{{MEDIA_URL}}app/services/images/'
                    });
                    {% endfor %}
                {% endif %}

                $('#purchased-services-table').bootstrapTable({
                    data: purchasedServices
                });

                $('.fixed-table-body').css('height', 'auto').css('border-top-right-radius', '3px');
                $("#purchased-services-table").bootstrapTable('check', 0);
            });

            
        </script>

        <script src="{% static 'app/scripts/sweetalert/sweetalert.min.js' %}"></script>
    {% endblock scripts %}