{% extends "app/base.html" %}

{% block title %} AoD | {{ service.title }} {% endblock title %}

 {% load staticfiles %}

{% block extraCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui/1.11.3/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/my-tooltip.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-table/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jsson-slider/slider.css' %}" />
{% endblock extraCss %}

{% block navbar %}
    {% include "app/navbar-users.html" %}
{% endblock navbar %}


{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-ui/1.11.3/jquery-ui.min.js' %}"></script>
    <script src="{% static 'app/scripts/multiselect-bootstrap/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-ui/1.11.3/jquery-ui.min.js' %}"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
    <script src="{% static 'app/scripts/p4a-lib/cookies.js' %}"></script>
    
    <script type="text/javascript">
        // Initialize map
        function getMap() {
            // Initiate variables
            var lat, lng;
            // Initiate coordinates
            var coordinates = new google.maps.LatLng('{{ service.latitude }}', '{{ service.longitude }}');
            // Set options
            var mapOptions = {
                zoom: 7,
                center: coordinates,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                panControl: false,
                scaleControl: false,
                streetViewControl: false,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.SMALL,  //enables the dimension
                    position: google.maps.ControlPosition.RIGHT_BOTTOM  //position enables
                },
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                }
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var marker = new google.maps.Marker({
                position: coordinates,
                map: map,
                draggable: false
            });

            var infoWindow = new google.maps.InfoWindow({
                content: "<div><b>Latitude:</b> {{ service.latitude }}<br><b>Longitude:</b> {{ service.longitude }}</div>"
            });
            
            // Handle user actions
            google.maps.event.addListener(marker, 'click', function (event) {
                infoWindow.open(map, marker);
            });
            // Set marker in center
            map.setCenter(marker.position);
            marker.setMap(map);
        }
        // Load map
        google.maps.event.addDomListener(window, 'load', getMap);



        $("#btn-add-cart").click(function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "/cart/update/"+$(this).data().id,
                beforeSend: function (xhr, settings) {
                    $.ajaxSettings.beforeSend(xhr, settings);
                },
                success: function (response) {
                    if (response.state === 1) {
                        window.location.href = "/cart/preview";
                    }
                    else {
                        alert("An error occured");
                    }
                },
                error: function (response) {
                    alert("An error is occured. The service modification failed");
                }
            });
            return false;    
        });


        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    xhr.setRequestHeader("X-CSRFToken", new Cookies().getValue('csrftoken'));
                }
            }
        });

    </script>
{% endblock scripts %}


{% block content %}
    <div class="container body-content" style="margin-top: 50px; padding-bottom:2em;">

        {% block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="{{ breadcrumb.home }}" class="custom-inactive-breadcrumb"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="{{ breadcrumb.home }}" class="custom-inactive-breadcrumb">Search</a></li>
            <li class="active">{{ service.title| title }}</li>
        </ol>
        {% endblock breadcrumb %}

        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row service-consumer-view-box" style="margin-bottom: 2%">
                <div class="row" style="padding-bottom: 1%">
                    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6 ">
                        {% if service.image %}
                        <img src="{{ MEDIA_URL }}app/services/images/{{ service.image }}" class="img-responsive" style="height: 50%; border-radius:3px 3px" />
                        {% endif %}
                        <hr>
                        <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 pull-left">
                            <abbr title="Creation date of service"><i class="fa fa-calendar fa-fw text-muted"></i> {{ service.created_date|date:"M d, Y" }}</abbr>
                        </div>
                        <div class="col-lg-5 col-xs-12 col-md-5 col-sm-5">
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-1"></span>
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-2"></span>
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-3"></span>
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-4"></span>
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-5"></span>
                            <span><abbr title="The count of comments for this service and its average score"> {{ reviews|default:'0' }} reviews</abbr></span>
                        </div>
                        <div class="col-lg-3 col-xs-12 col-md-3 col-sm-3 pull-right">
                            <i class="fa fa-comments-o fa-lg text-primary"></i> {% if service.comments %} {{ service.comments| default_if_none:'0' }} {% else %} 0 {% endif%} comments
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6 ">
                        <div style="padding-left: 4%">
                            <div class="row">
                                <header class="col-md-12 col-sm-12 col-lg-12 col-xs-12" title="Service title is {{ service.title }}">
                                    <h3 id="title">{{ service.title| title }}</h3>
                                </header>
                            </div>
                            <div class="row" title="Usage cost of service">
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                    <h5>Price:</h5>
                                </div>
                                <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                    {% if service.charging_policy_id != 1 %}
                                    <h5>{{ service.unit }} {{ service.price }}</h5>
                                    {% else %}
                                    <h5>Free </h5>
                                    {% endif %}
                                </div>
                            </div>
                            {% if service.charging_policy_id != 1 %}
                            <div class="row" title="Usage cost of service">
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                    <h5>Charging policy:</h5>
                                </div>
                                <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                    <h5>{{ model.name }}</h5>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row" title="Usage cost of service">
                                 <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                    <h5><abbr title="Declares the type of service">Type:</abbr></h5>
                                </div>
                                <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                    <h5>{% if service.type == 'H' %} Human based {% else %} Machine based {% endif %}</h5>
                                </div>
                            </div>
                            {% if service.type == 'M' %}
                            <div class="row" title="Usage cost of service">
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                    <h5><abbr title="The provider declares the licenses for the service.">Licences:</abbr></h5>
                                </div>
                                <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                    <h5>{{ service.license|default_if_none:"Not available" }} (Software version: {{service.version| default_if_none:"Not available" }})</h5>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row" title="Service provider information">
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-6">
                                    <h5>Provider:</h5>
                                </div>
                                <div class="col-md-7 col-sm-7 col-lg-7 col-xs-6" >
                                    <h5>by<a href="#"> {{ provider.name|title }} {{ provider.lastname | title}}</a></h5>
                                </div>
                            </div>
                            <br>
                            <div class="row" title="Service provider information">
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 text-center" >
                                    <button type="button" class="btn btn-lg btn-primary disabled"> Get the service!</button>
                                    <br>
                                    <span style="text-align: center!important">or</span>
                                    <br>
                                    <button type="button" id="btn-add-cart" class="btn btn-lg btn-success" data-id="{{service.id}}" data-name="{{service.title}}"> Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="service-hr">
                Related keywords:
                {% if keywords %}
                    {% for i in keywords %}
                        <span style="margin-right:1%"><i class="fa fa-tag text-success"></i> {{ i.title }}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="row  service-consumer-view-box" style="margin-bottom: 2%">
                <div class="jumbotron" style="background-color:white;color:#171717;">
                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                        <h3>Brief description<small> </small></h3>
                    </div>
                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 ">
                        <blockquote style="text-align:justify; font-size: 14pt;">
                            <small style="color:black"><i class="fa fa-quote-left text-muted"></i> {{ service.description|safe }} <i class="fa fa-quote-right text-muted"></i></small>
                        </blockquote>  
                    </div>
                </div>
            </div>
           
            <div class="row service-consumer-view-box" style="">
                <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 ">
                    <h4 class="text-center">
                        <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-info"></i>
                          <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                        </span>
                    </h4>
                    <hr class="service-hr">
                    <article style="text-align:justify">
                        <label>Requirements.</label> 
                            {{ service.requirements|default:"None" }}
                    </article>
                </div>

                <div class=" col-lg-4 col-xs-12 col-md-4 col-sm-4">
                    <h4 class="text-center">
                        <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-success"></i>
                          <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                        </span>
                    </h4>
                    <hr class="service-hr">
                    <article style="text-align:justify;margin-bottom:1%">
                        <label>How to install it.</label> 
                        {{ service.installation_guide|default:"No instructions" }}
                    </article>
            
                    <article style="text-align:justify">
                        <label>How to use it.</label> 
                        {{ service.usage_guidelines|default:"No instructions" }}
                    </article>
                </div>

                <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4">
                    <h4 class="text-center">
                        <span class="fa-stack fa-4x">
                          <i class="fa fa-circle fa-stack-2x text-danger " ></i>
                          <i class="fa fa-bell-slash-o fa-stack-1x fa-inverse text-muted"></i>
                        </span>
                    </h4>
                    <hr class="service-hr">
                    <!--map-->  
                    {% if service.location_constraint %}
                        <div id="map" style="height:40%; border:1px solid gray"></div>
                    {% else %}  
                        <i class="fa fa-map-marker text-danger fa-lg fa-fw"></i> No location constraints 
                    {% endif %}
                    <br>
                    <!--lang-->
                    
                    {% if service.language_constraint %}
                        {% if languages %}
                            {% for l in languages %} 
                              <i class="fa fa-language text-success fa-fw fa-lg"></i>  {{ l.alias }}
                            {% endfor %}
                        {% endif %}
                    {% else %} 
                        No language constraints 
                    {% endif %}
                    
                    <br>
                    <!--other-->
                    {% if service.constraints %}{{ service.constraints  }}{% endif %}
                </div>
            </div>

            <div class="row col-lg-6 col-xs-12 col-md-6 col-sm-6 service-consumer-view-box">
                <div class="row">
                <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                    <h4>Reviews for service </h4>
                    <h5>
                        <small>
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-1"></span>
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-2"></span>
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-3"></span>
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-4"></span>
                            <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-5"></span>
                            <span>from {{ reviews|default:'0' }} reviews</span>
                        </small>
                    </h5>

                    </div>
                    <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                        <div class="row">
                            <div class="col-lg-4 col-xs-6 col-md-4 col-sm-4">
                                <label style="margin-top:-10px">5 stars</label>
                            </div>
                            <div class="col-lg-8 col-xs-6 col-md-8 col-sm-8">
                                  <div class="progress" style="height:10px">
                                    <div class="progress-bar progress-bar-success ui-progressbar-value" role="progressbar" aria-valuenow="{{ reviews|default:'0' }}" aria-valuemin="0" aria-valuemax="0" style="width:5%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-xs-6 col-md-4 col-sm-4">
                                <label style="margin-top:-10px">4 stars</label>
                            </div>
                            <div class="col-lg-8 col-xs-6 col-md-8 col-sm-8">
                                  <div class="progress"  style="height:10px">
                                    <div class="progress-bar progress-bar-success ui-progressbar-value" role="progressbar" aria-valuenow="{{ reviews|default:'0' }}" aria-valuemin="0" aria-valuemax="0" style="width:5%">
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-xs-6 col-md-4 col-sm-4">
                                <label style="margin-top:-10px">3 stars</label>
                            </div>
                            <div class="col-lg-8 col-xs-6 col-md-8 col-sm-8">
                                  <div class="progress" style="height:10px">
                                    <div class="progress-bar progress-bar-success ui-progressbar-value" role="progressbar" aria-valuenow="{{ reviews|default:'0' }}" aria-valuemin="0" aria-valuemax="0" style="width:5%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-xs-6 col-md-4 col-sm-4">
                                <label style="margin-top:-10px">2 stars</label>
                            </div>
                            <div class="col-lg-8 col-xs-6 col-md-8 col-sm-8">
                                  <div class="progress" style="height:10px">
                                    <div class="progress-bar progress-bar-success ui-progressbar-value" role="progressbar" aria-valuenow="{{ reviews|default:'0' }}" aria-valuemin="0" aria-valuemax="0" style="width:5%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-xs-6 col-md-4 col-sm-4">
                                <label style="margin-top:-10px">1 star</label>
                            </div>
                            <div class="col-lg-8 col-xs-6 col-md-8 col-sm-8">
                                  <div class="progress" style="height:10px">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ reviews|default:'0' }}" aria-valuemin="0" aria-valuemax="0" style="width:5%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="service-hr">
                {% if reviews == 0 %}
                    No reviews found!
                {% else %}
                    
                {% endif %}
            </div>
        
            <div class="row col-lg-6 col-xs-12 col-md-6 col-sm-6 pull-right service-consumer-view-box">
                <h4>Tips for first timers</h4>
                <hr class="service-hr" />
            </div>
            <div class="row col-lg-6 col-xs-12 col-md-6 col-sm-6 pull-right service-consumer-view-box">
                <h4>Technical support</h4>
                <hr class="service-hr" />
            </div>
        </div>
    </div>
{% endblock content %}



