{% load i18n %}
{% load l10n %}
    <article>
        <div class="preview-basic-info">
            {% if service.image %}
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div id="slider">
                    <div id="service-slider">                       
                        <div>
                            <img data-u="image" class="img-thumbnail img-responsive" src="{{ MEDIA_URL }}app/services/images/{{ service.image.name }}" alt="{{ service.image.name }}"  style="border: 1px solid dimgray"/>
                        </div>
                    </div>
                    <span data-u="arrowleft" class="jssora01l" style="top: 123px; left: 8px;"></span>
                    <span data-u="arrowright" class="jssora01r" style="top: 123px; right: 8px;"></span>
                </div>
            </div>
            <br />
            {% endif %}
            <!-- description -->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Description' %}</label>
                    <label class="text-left visible-xs">{% trans 'Description' %}</label>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12" title="{% trans 'The description of this service' %}">
                    <p id="description" style="text-align:justify">{{ service.description }}</p>
                </div>
            </div>
            <!-- version -->
            {% if service.version %}
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Version' %}</label>
                    <label class="text-left visible-xs">{% trans 'Version' %}</label>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12" title="{% trans 'The version of this service' %}">
                    <p id="version">{{ service.version|default:"Not available" }}</p>
                </div>
            </div>
            {% endif %}
            <!-- license -->
            {% if service.license %}
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Licenses' %}</label>
                    <label class="text-left visible-xs">{% trans 'Licenses' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The license of this service' %}">
                    <p id="license">{{ service.license|default:"Not available" }}</p>
                </div>
            </div>
            {% endif %}
            <!--types-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Type' %}</label>
                    <label class="text-left visible-xs">{% trans 'Type' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The type of this service' %}">
                    <p id="type">
                        {% if service %}
                            {% if service.type == 'M'%}
                                {% trans 'The operation of this service is machine-based' %}.
                            {% elif service.type == 'H' %}
                                {% trans 'The operation of this service is human-based' %}.
                            {% elif service.type == 'C' %}
                                {% trans 'The operation of this service is community-based' %}. 
                            {% elif service.type == 'I' %}
                                {% trans 'It is an iOS app' %}. 
                            {% elif service.type == 'A' %}
                                {% trans 'It is an android app' %}. 
                            {% elif service.type == 'W' %}
                                {% trans 'It is a windows app' %}.                                  
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
            <!--Cost-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Price' %}</label>
                    <label class="text-left visible-xs">{% trans 'Price' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The price and the charging policy of the service' %}">
                    <p id="price">
                        {% if service %}
                            {% if service.charging_policy_id == 1 %}
                                {% trans 'Free' %}
                            {% else %}
                                {{ service.unit}} {{service.price| unlocalize}} ({{ service.charging_policy }})
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>  
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Categories' %}</label>
                    <label class="text-left visible-xs">{% trans 'Categories' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'Related categories' %}">
                    <p id="categories">
                        {% if categories %}
                            {% for i in categories %}
                                <a href="#" class="btn btn-default btn-xs">{{i.title}}</a>
                            {% empty %}
                                {% trans 'No related categories' %}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div>
            <!--requirements-->
            {% if service.requirements %}
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Requirements' %}</label>
                    <label class="text-left visible-xs">{% trans 'Requirements' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The services requirements, if exist' %}">
                    <p id="requirements" style="text-align: justify">
                        {{  service.requirements }}
                    </p>
                </div>
            </div> 
            {% endif %}
            <!--installation_guide-->
            {% if service.installation_guide %}
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Installation guidelines' %}</label>
                    <label class="text-left visible-xs">{% trans 'Installation guidelines' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'A set of installation instructions of the service for the users' %}">
                    <p id="installation_guide" style="text-align: justify">
                        {{  service.installation_guide }}
                    </p>
                </div>
            </div> 
            {% endif %}
            <!--usage_guidelines-->
            {% if service.usage_guidelines %}
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Usage guidelines' %}</label>
                    <label class="text-left visible-xs">{% trans 'Usage guidelines' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'A brief set of usage instructions' %}">
                    <p id="usage_guidelines" style="text-align: justify">
                        {{  service.usage_guidelines}}
                    </p>
                </div>
            </div>
            {% endif %}
            <!--accessibility-->
            {% if service %}
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Access' %}</label>
                    <label class="text-left visible-xs visible-print">{% trans 'Access' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The availability rule for the service' %}">
                    <p id="accessibility">
                        {% if service.is_public == 1 %}
                            {% trans 'Public - any registered user can purchase or use it' %}
                        {% else %}
                            {% trans 'Private - only a group of users can purchase or use it' %}
                        {% endif %}
                    </p>
                </div>
            </div> 
            {% endif %}
            <!--language_constraint-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Language availability' %}</label>
                    <label class="text-left visible-xs">{% trans 'Language availability' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'Any language constraints, if exist' %}">
                    <p id="language_constraint">
                        {% if service.language_constraint %}
                            {% for i in languages %}
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-language text-success"></i> {{ i }}</a>
                            {% empty %}
                                {% trans 'All languages supported' %}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
            </div> 
            <!--location_constraint-->
            {% if service %}
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Spatial coverage' %}</label>
                    <label class="text-left visible-xs">{% trans 'Spatial coverage' %}</label>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12" title="{% trans 'Any location constraints, if exist' %}">
                    <div id="location_constraint">
                        {% if service.location_constraint %}
                            <div id="map" style="height:40%; min-height:450px; border:1px solid dimgray"></div>
                        {% else %}
                            {% trans 'There is no spatial constraints' %}
                        {% endif %}
                    </div>
                </div>
            </div> 
            {% endif %}
            <!--constraints-->
            {% if service.constraints %}
                <div class="row">
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                        <label class="text-right hidden-xs">{% trans 'Other constraints/comments' %}</label>
                        <label class="text-left visible-xs">{% trans 'Other constraints/comments' %}</label>
                    </div>
                    <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'Any other constraints' %}">
                        <p id="constraints"> 
                        {{ service.constraints }}
                        </p>
                    </div>
                </div> 
            {% endif %}

            <!--is_visible-->
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                    <label class="text-right hidden-xs">{% trans 'Is it visible?' %}</label>
                    <label class="text-left visible-xs">{% trans 'Is it visible?' %}</label>
                </div>
                <div class="col-md-7 col-sm-7 col-lg-8 col-xs-12" title="{% trans 'The status of the service. Is it available for users search?' %}">
                    <p id="availability">
                        {% if service.is_visible %}
                            {% trans 'The service is available for usage' %}
                        {% else %}
                            {% trans 'Not available' %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </article>

