{% load i18n %}
{% load l10n %}

<article>

    <div class="row">
        <!--left-->
        <div class="col-lg-3 col-xs-12 col-md-3 col-sm-4">
            <div class="clearfix row">
                <div class="margin-bottom-10 col-lg-8 col-xs-9 col-md-8 col-sm-9" id="stars-area">
                    <strong>{% trans 'Average score'%}</strong><br>
                    <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-1"></span>
                    <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-2"></span>
                    <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-3"></span>
                    <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-4"></span>
                    <span class="fa fa-star-o fa-lg star-colorize-yellow star-rating-5"></span>                                     
                </div>
                <div class="col-lg-4 col-xs-3 col-md-4 col-sm-3">
                    <strong class="label label-success"><span id=review_score>{{ service.review_score|default:'0.0'|floatformat:1|unlocalize }}</span>/5.0</strong> <br>
                    {{ service.reviews_count|default:'0' }} {% trans 'reviews' %}    
                </div>                            
            </div>   
                    
            <hr>
            <!--average score per metric-->
            {% for m in avg_metrics_list %}
            <div class="row">
                <div class="col-lg-8 col-xs-9 col-md-8 col-sm-9">
                    <strong>{{ m.name }}</strong>
                </div>
                <div class="col-lg-4 col-xs-3 col-md-4 col-sm-3">
                    <span class="badge text-success">{{ m.score|default_if_none:"0.0"|floatformat:1|unlocalize }}/5.0</span>
                </div>
            </div>
            {% endfor %}                                                           
   
        </div>
        <!--right-->
        <div class="col-lg-9 col-xs-12 col-md-9 col-sm-8 ">
            <!--reviews-->
            {% if reviews %}     
                <div class="tab-content">
                    <div class="tab-pane active fade in has-padding" id="messages-tue">
                        <ul class="media-list">
                            {% for r in reviewsList %}
                            <li class="media" style="padding:5px; border: 2px solid #ddd">
                                <div class="media-body">
                                    <h5 class="media-heading">
                                        {% if username %}
                                            <span class="fa fa-user text-muted"></span>
                                            <strong class="margin-right-20">{{ r.consumer }}{% if r.consumer|add:"0" == username %}<label class="label label-success">{% trans "it's you" %}</label>{% endif %}</strong>
                                        {% endif %}
                                        <span><span class="fa fa-calendar text-muted"></span> {{ r.review_date|date:'Y-m-d H:i:s'   }}</span>                                                          
                                        <span class="text-right pull-right">{% trans 'Score' %}: <span class="badge">{{ r.rating|floatformat:1|unlocalize }}/5.0</span></span>                                                         
                                    </h5>
                                    <br>
                                    {% if r.advantages %}<p><span class="text-success">{% trans 'Positive' %} (+)</span>. {{ r.advantages }}</p>{% endif %}
                                    {% if r.disadvantages %}<p><span class="text-danger">{% trans 'Negative' %} (-)</span>.  {{ r.disadvantages }}</p>{% endif %}
                                    {% if r.rating_rationale %}<p>{{ r.rating_rationale }}</p>{% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="well well-lg">{% trans 'No reviews found' %}!</div>
            {% endif %}
        </div>
    </div>

</article>