{% load i18n %}
{% load l10n %}

<article>
    <div id="support_container" class="margin-top-10">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="well well-lg">
                <p>
                    {% blocktrans %} You are able to provide multi-modal technical support for any service you offer. 
                    Therefore, platform suggests you to upload or share any kind of documents (i.e. pdf, office excel or word documents), videos and photos. Furthermore, you can register your 
                    Skype to chat with the users and help them to solve their problems'.
                    {% endblocktrans %}
                 </p>
            </div>
        </div>

        <div class="row margin-top-25">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div class="clearfix margin-bottom-25">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12"><h4 class="text-center">{% trans 'Links, downloads and materials' %}</h4></div>
                    <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">
                        <ul class="list-group margin-bottom-25" id="materials-list"></ul>
                    </div>
                </div>

                <div class="clearfix margin-bottom-25">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12"><h4 class="text-center">{% trans 'Your skype account' %}</h4></div>
                    <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">
                        <div class="list-group margin-bottom-25" id="service-provider-skype"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>