{% extends "app/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}


{% block extraCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui/1.11.3/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-tree/jquery.tree.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/sweetalert/sweetalert.css' %}" />
{% endblock extraCss %}


{% block content %}    
    <div class="jumbotron text-center  success-bg-color" style="color: white">
        <div class="container">
            <h1 style="text-shadow:1pt 1pt 1pt white; font-size: 40px !important; ">{% trans 'Welcome to the Assistance On Demand' %}</h1>
            <div class="row margin-top-50">
                <p>{% trans 'Providers feed the platform with services' %}</p>
                <p>{% trans 'Find the services of your interest, human or machine ones.' %}</p>
            </div>
            <div class="margin-top-10">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                    <div class="">
                        <input type="text" class="form-search form-control" placeholder="{% trans 'e.g.' %} {% trans 'sign language' %}" style="max-width: 1025px !important; display:initial !important; width: 75%;">
                        <span class="">
                        <button class="btn btn-default form-inline disabled" type="button">{% trans 'Search' %}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--content-->
    <div class="container body-content" style="margin-top: 50px">
        {% block breadcrumb %}
            {% if username %}
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> {% trans 'Home' %}</li>
            </ol>
            {% endif %}
        {% endblock breadcrumb %}

        <section class="row">
            {% block leftcolumn %}
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    {% block searchModule %}
                        {% include "app/home/searchEngine.html" %}
                    {% endblock searchModule %}

                    {% block crowdFunding %}
                        {% if username %}
                            {% if components.crowd_source_banner %}
                            <div id="crowd-funding-banner">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center"><span class="fa fa-share-alt fa-lg text-success"></span>  {% trans 'Service is not here?' %}</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-2 input-group ">
                                        <span class="fa fa-info-circle text-info fa-lg cursor-pointer" id="publish-crowd-service-info"> </span>
                                        <a href="{{ crowd_funding_publish_project }}"> {% trans 'Publish a crowd funding service' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endif %}
                        {% endif %}
                    {% endblock crowdFunding %}
                </div>
            {% endblock leftcolumn %}
            
            {% block rightcolumn %}
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                    <div class="row">
                        <div class=" col-sm-6 col-md-6 col-lg-6 col-xs-12 form-group">
                            <label for="sortby" class="pull-left" style="padding-right:3px">{% trans 'Sort by' %} </label>
                            <div role="menu" class="my-sort-choice" title="{% trans 'Sort the list of registered services' %}" aria-label="{% trans 'Sort the list of registered services' %}">
                                <select name="sortby" id="sortby" data-sort="title" class="form-control" style="max-width:200px!important">
                                    <option value="price" > {% trans 'Price: Low to High' %}</option>
                                    <option value="-price"> {% trans 'Price: High to Low' %}</option>
                                    <option value="title" selected>{% trans 'Title: A to Z' %}</option>
                                    <option value="-title" >{% trans 'Title: Z to A' %}</option>
                                    <option value="rating" disabled>{% trans 'Rating: High to Low' %}</option>
                                    <option value="most_popular" disabled>{% trans 'Most popular' %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="btn-group pull-right services-view" role="group" data-view="m" aria-label="{% trans 'Service results presentation' %}" style="margin-left:15px">
                                <a id="multidata_view" class="btn btn-md btn-default" aria-label="{% trans 'Block view of services'%}" data-view="m">
                                    <span class="fa fa-th-large" aria-label="{% trans 'Block view of services' %}"></span>
                                </a>
                                <a id="list_view" class="btn btn-md btn-default" aria-label="{% trans 'List view of services'%}" data-view="l">
                                    <span class="fa fa-th-list" aria-label="{% trans 'List view of services' %}"></span>
                                </a>
                            </div>
                            <strong class="pull-right">{% trans 'View' %}</strong>
                        </div>  
                    </div>
                    <hr class="service-hr"/>
                    {% block results %}
                        <div class="row clearfix">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 margin-bottom-10">
                                <strong><span id="results_set"></span></strong>
                            </div>
                        </div>
                        <div class="row">
                            <div id="services-result-multidata" class="service-results-layout" style="min-height: 400px"></div>
                            <div id="services-result-listview" class="service-results-layout hidden" style="min-height: 25px"></div>
                        </div>
                    </div>
                {% endblock results %}
            {% endblock rightcolumn %}
        </section>

        {% if False %}
        <div class="row margin-top-50">
            {% if popularService %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 on-mouseover service-banner" id="srv-{{ popularService.id }}" style="min-height:400px!important">
                <div class="thumbnail">
                    <img src="{% static 'app/images/home/popular.png' %}" alt="{% trans 'Most popular service' %}">
                    <div class="caption">
                    <span class="fa-stack fa-3x img-responsive" style="margin-top:-55px;">
                            <span class="fa fa-circle fa-2x fa-stack-2x text-info"></span>
                            <span class="fa fa-user fa-lg fa-stack-1x fa-inverse"></span>
                        </span>
                        <a>{{ popularService.title}}</a>
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                {{ popularService.description|slice:":400"}}...
                                <a href="{% url 'login_page' %}" class="btn btn-success btn-xs">{% trans 'Buy it' %} <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8 col-lg-8 col-md-8 col-xs-8" id="srv-rating-{{ popularService.id }}" >
                                <span><strong>{{ popularService.rating }}</strong></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-1"></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-2"></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-3"></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-4"></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-5"></span>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                                <strong class="pull-right">
                                {% if popularService.charge_model.title == "Free" %}
                                    {% trans 'Free' %}
                                {% else %}
                                    {{ popularService.price }}{{ popularService.unit }}
                                {% endif %}
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-lg-8 col-md-8 col-xs-8">
                                <em> 
                                {% ifequal  popularService.reviews  1 %}
                                    {{ popularService.reviews }} {% trans 'review' %}
                                {% else %}
                                    {{ popularService.reviews }} {% trans 'reviews' %}
                                {% endifequal  %}
                                </em>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                                {% if popularService.type == "M" %}
                                <span class="fa fa-laptop pull-right fa-2x"></span>
                                {% else %}
                                <span class="fa fa-users pull-right fa-2x"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            {% endif %}
        
            {% if latestService %}
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 on-mouseover service-banner" id="srv-{{ latestService.id }}" style="min-height:400px!important">
                <div class="thumbnail">
                    <img src="{% static 'app/images/home/new-2.png' %}" alt="{% trans 'Most recently service' %}">
                    <div class="caption">
                    <span class="fa-stack fa-3x img-responsive" style="margin-top:-55px;">
                            <span class="fa fa-circle fa-2x fa-stack-2x text-info"></span>
                            <span class="fa fa-user fa-lg fa-stack-1x fa-inverse"></span>
                        </span>
                        <a>{{ latestService.title}}</a>
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                {{ latestService.description|slice:":400"}}...
                                <a href="{% url 'login_page' %}" class="btn btn-success btn-xs">{% trans 'Buy it' %} <span class="fa fa-shopping-cart"></span></a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-8 col-lg-8 col-md-8 col-xs-8" id="srv-rating-{{ latestService.id }}" >
                                <span><strong>{{ latestService.rating }}</strong></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-1"></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-2"></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-3"></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-4"></span>
                                <span class="fa fa-star-o star-colorize-yellow star-rating-5"></span>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                                <strong class="pull-right">
                                {% if latestService.charge_model.title == "Free" %}
                                    {% trans 'Free' %}
                                {% else %}
                                    {{ latestService.price }}{{ latestService.unit }}
                                {% endif %}
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 col-lg-8 col-md-8 col-xs-8">
                                <em> 
                                {% ifequal  latestService.reviews  1 %}
                                    {{ latestService.reviews }} {% trans 'review' %}
                                {% else %}
                                    {{ latestService.reviews }} {% trans 'reviews' %}
                                {% endifequal  %}
                                </em>
                            </div>
                            <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                                {% if latestService.type == "M" %}
                                <span class="fa fa-laptop pull-right fa-2x"></span>
                                {% else %}
                                <span class="fa fa-users pull-right fa-2x"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-sm-4 col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="{% static 'app/images/home/about.png' %}" alt="{% trans 'AoD description' %}">
                    <div class="caption">
                        <p style="text-align: justify">
                            {% blocktrans %}P4A AoD will adopt leading edge cloud computing technologies to efficiently 
                            support scalable access to services from/across different hardware/software platforms. Flexibility with 
                            respect both to the type of assistance services that will be offered through the aoD and to the way the 
                            user is interfaced/supported in his service search, reliability, robustness and affordability are of 
                            prime importance for the penetration of the Assistance Services that will be offered and for creating major 
                            impact in the marketplace.{% endblocktrans %}
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">{% trans 'Read More' %}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript" src="{% static 'app/scripts/sweetalert/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/ajax-load.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery-ui/1.11.3/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/aod.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery-tree/jquery.tree.min.js' %}"></script>
    <script type="text/javascript">
        var form = '#service-search-form';

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    xhr.setRequestHeader("X-CSRFToken", new Cookies().getValue('csrftoken'));
                }
            }
        });

        $(document).ready(function () {
            // get categories as a tree
            AoD.loadTreeCategories("#tree");
            getResults(form, null);

            $(".panel-toggle-arrows").click(function () {
                toggleArrows($(this));
            });


            $(".rating-stars").click(function () {
                swapRatingStarColor($(this).attr("id").match(/\d+/));

            });
            $(".rating-stars").hover(function () {
                swapRatingStarColor($(this).attr("id").match(/\d+/));
            });

            //
            // Keep selected the sort_by user choice
            //
            $("#content-top-banner").find("#sortby :selected").prop('selected', false);
            //$("#sortby option[value='{{ sortby }}']").attr('selected', 'selected');
            //$("#sortby option[value='" + sortby + "']").attr('selected', 'selected');

            //
            //  Keep limit user choice
            //
            $("#content-top-banner").find("#items-per-page-id :selected").prop('selected', false);
            //$("#items-per-page-id option[value='{{ limit }}']").attr('selected', 'selected');
            //$("#items-per-page-id option[value='" + limit + "']").attr('selected', 'selected');

        }).on('click', "#search-btn", function (event) {
            event.preventDefault();

            var request = "";

            var search = {
                owners: [],
                categories: [],
                types: [],
                models: [],
                minPrice: null,
                maxPrice: null,
                distance: null,
                lat: null,
                lon: null,
                minQoS: null,
                maxQoS: null,
                //sortby: $("#sortby").val(),//$("#sortby").data().sort,
                view: $(".services-view").data().view
            }

            // get list of owner(s)
            $("div#companies-id").find('input:checked').each(function (i) {
                search.owners.push($(this).data().id);
            });
            // categories
            $("div#categories-id").find('input:checked').each(function (i) {
                search.categories.push($(this).data().id);
            });
            // types
            $("div#service-types-id").find('input:checked').each(function (i) {
                search.types.push($(this).data().id);
            });
            // charging model
            $("div#charging-model-id").find('input:checked').each(function (i) {
                search.models.push($(this).data().id);
            });
            // price
            search.minPrice = $("#low_price").val();
            search.maxPrice = $("#high_price").val();

            if (search.minPrice < 0 || search.maxPrice < 0) {
                swal({
                    html: false,
                    title: gettext("Invalid input"),
                    text: gettext('The price values must be non negative numbers!'),
                    type: "warning",
                    confirmButtonText: gettext("Continue"),
                    confirmButtonColor: "#d9534f"
                });
                return;
            }
            if (search.minPrice > search.maxPrice) {
                swal({
                    html: false,
                    title: gettext("Invalid input"),
                    text: gettext('The maximum price value must be greater than (or equal with) the minimum one!'),
                    type: "warning",
                    confirmButtonText: gettext("Continue"),
                    confirmButtonColor: "#d9534f"
                });
                return;
            }

            // QoS
            if ($("#low_QoS").val() !== "") {
                search.minQoS = $("#low_QoS").val();
            };
            if ($("#high_QoS").val() !== "") {
                search.maxQoS = $("#high_QoS").val();
            }
            if (search.minQoS < 0 || search.minQoS > 5) {
                swal({
                    html: false,
                    title: gettext("Invalid input"),
                    text: gettext('The minimum value of Quality of Service field is out of range. Please enter a value in range [0,5]!'),
                    type: "warning",
                    confirmButtonText: gettext("Continue"),
                    confirmButtonColor: "#d9534f"
                });
                return;
            }
            if (search.maxQoS < 0 || search.maxQoS > 5) {
                swal({
                    html: false,
                    title: gettext("Invalid input"),
                    text: gettext("The maximum value of Quality of Service field is out of range. Please enter a value in range [0,5]!"),
                    type: "warning",
                    confirmButtonText: gettext("Continue"),
                    confirmButtonColor: "#d9534f"
                });
                return;
            }
            if (search.minQoS > search.maxQoS) {
                swal({
                    html: false,
                    title: gettext("Invalid input"),
                    text: gettext("The maximum value of Quality of Service field must be greater than (or equal with) the corresponding minimum one!"),
                    type: "warning",
                    confirmButtonText: gettext("Continue"),
                    confirmButtonColor: "#d9534f"
                });
                return;
            }


            // distance threshold
            search.distance = $("div#location-id").find('input').val();
            if (search.distance < 0) {
                swal({
                    html: false,
                    title: gettext("Invalid input"),
                    text: gettext("The distance value must be a non negative number. Keep in mind that this value maps to kilometers."),
                    type: "warning",
                    confirmButtonText: gettext("Continue"),
                    confirmButtonColor: "#d9534f"
                });
                return;
            }
            // inform user for location tracking
            if (search.distance !== "") {
                swal({
                    html: false,
                    title: gettext("AoD message"),
                    text: gettext("The AoD platform wants your permission to track your location. Do you agree with this action?"),
                    type: "info",
                    showCancelButton: true,
                    confirmButtonClass: "btn-primary",
                    confirmButtonText: gettext("Yes, I agree!"),
                    cancelButtonText: gettext("No, I do not agree!"),
                    cancelButtonClass: "btn-danger",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        swal({
                            html: false,
                            title: gettext("Search progress"),
                            text: gettext("AoD scans the services that meet your requirements"),
                            type: "success",
                            confirmButtonText: gettext("Continue"),
                            confirmButtonColor: "btn-primary",
                        });
                    } else {
                        swal({
                            html: false,
                            title: gettext("Search progress"),
                            text: gettext("The service searching was aborted."),
                            type: "warning",
                            confirmButtonText: gettext("Continue"),
                            confirmButtonColor: "#d9534f"
                        });
                    }
                });
            }

            // get user coordinates
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    console.log(parseFloat(position.coords.latitude));
                    console.log(parseFloat(position.coords.longitude));
                    search.lat = parseFloat(position.coords.latitude);
                    search.lon = parseFloat(position.coords.longitude);  
                })
            }
            getResults(form, search);

        }).on("click", "#charging-model-1", function () {
            if ($(this).is(':checked')) {
                if (!$("#charging-model-0").is(':checked')) {
                    $("#low_price").attr('readonly', true).val('');
                    $("#high_price").attr('readonly', true).val('');
                }
                else {
                    $("#low_price").attr('readonly', false);
                    $("#high_price").attr('readonly', false);
                }
            }
            else {
                $("#low_price").attr('readonly', false);
                $("#high_price").attr('readonly', false);
            }

        }).on("click", "#charging-model-0", function () {
            if ($(this).is(':checked')) {
                $("#low_price").attr('readonly', false);
                $("#high_price").attr('readonly', false);
            }
            else {
                if ($("#charging-model-1").is(':checked')) {
                    $("#low_price").attr('readonly', true).val('');
                    $("#high_price").attr('readonly', true).val('');
                }
                else {
                    $("#low_price").attr('readonly', false);
                    $("#high_price").attr('readonly', false);
                }
            }
        }).on("mouseenter", ".on-mouseover > div", function () {
            //
            // Highlight service box
            //
            $(this).addClass("highlight-service-banner");
        }).on("mouseleave", ".on-mouseover > div", function () {
            //
            // Skip highlight from service box
            //
            $(this).removeClass("highlight-service-banner");
        }).on('click', "#list_view", function () {
            //
            // Services in block view
            // 
            $("#services-result-listview").removeClass('hidden');
            $("#services-result-multidata").addClass('hidden');
        }).on('click', "#multidata_view", function () {
            //
            // Services in list view
            //
            $("#services-result-listview").addClass('hidden');
            $("#services-result-multidata").removeClass('hidden');
        });


        function toggleArrows(element) {
            //
            //  Swap the direction of search engine
            //
            if (element.find(" .panel-collapse").hasClass("in")) {
                element.find("i").removeClass("fa-angle-double-down").addClass("fa-angle-double-up");
            }
            else {
                element.find("i").addClass("fa-angle-double-down").removeClass("fa-angle-double-up");
            }
        }


        function getResults(form, payload) {
            //
            // Retrieve the search results and append them
            //
            payload = parseRequest(payload);
            $.ajax({
                type: $(form).attr('method'),
                url: $(form).attr('action'),
                data: payload,
                beforeSend: function (xhr, settings) {
                    $.ajaxSettings.beforeSend(xhr, settings);
                },
                success: function (json) {
                    var response = json.results;
                    var multidata = "";
                    var listview = "";
                    if (!!response.length) {
                        for (var i in response) {
                            //
                            // Load service image
                            //
                            var image = '';
                            if (response[i].image !== null) {
                                image += [
                                    '<div style="height:130px; min-height:130px;">',
                                        '<img class="img-responsive" style="border-bottom: 1px solid #ebebea; height: 130px !important; width: 100%" src="' + response[i].image_path + '" alt="' + gettext("Image relative to the service") + response[i].title + '">',
                                    '</div>'
                                ].join('');
                            }
                            else {
                                image += '<div style="height:130px; min-height:130px; background-color: #ecebeb"></div>';
                            }
                            //
                            // Load provider logo
                            // 
                            var logo = "";
                            if (response[i].owner_logo !== "") {
                                logo += '<img src="' + response[i].owner_logo + '" alt="' + response[i].owner_logo + '" class="img-circle img-responsive" style="border: 1px solid #fff;" />';
                            }
                            else {
                                logo += [
                                    '<span class="fa-stack fa-1x" >',
                                        '<i class="fa fa-circle fa-stack-2x" style="color: #d7d5d5;"></i>',
                                        '<i class="fa fa-user fa-stack-1x" style="color: #ebebea"></i>',
                                    '</span>'
                                ].join('');
                            }
                            //
                            // Service link
                            //
                            var link = "";
                            var url = "{% url 'service_view_page' 0 %}".replace(0, response[i].id);
                            if (response[i].charging_model === 1) {
                                link = '<a href="' + url + '" class="btn btn-success btn-xs">' + gettext('Access it!') + '</a>'; // href
                            }
                            else {
                                link = '<a href="' + url + '" class="btn btn-success btn-xs">' + gettext('Get it!') + ' <i class="fa fa-shopping-cart"></i></a>'; // href
                            }
                            var price = (response[i].price === 0) ? gettext('FREE') : response[i].unit + " " + response[i].price;
                            //
                            // Load service in block view
                            //
                            multidata += appendServiceMultidata(response[i], image, logo, url, link, price);
                            $("#services-result-multidata").html(multidata);
                            //
                            // Load services in list view
                            //
                            listview += appendServiceListView(response[i], image, logo, url, link, price);
                            $("#services-result-listview").html(listview);
                            //
                            // Set the stars of any service based on its rating value
                            //
                            $(".service-banner").each(function () {
                                var rating = $(this).find("#srv-rating-" + $(this).attr("id").match(/\d+/)).find("span").first().text();
                                if (rating !== "None" && !(isNaN(rating))) {
                                    for (var j = 1; j <= Math.ceil(rating) ; j++) {
                                        $(this).find(".star-rating-" + j).removeClass("fa-star-o").addClass("fa-star");
                                    }
                                }
                            });
                        }
                    }
                    else {
                        multidata += resultsNotFound();
                        $("#services-result-multidata").html(multidata);
                        listview = resultsNotFound();
                        $("#services-result-listview").html(listview);
                    }

                    var results_counter = json.count;
                    results_counter += " " + ((json.count === 1) ? " {% trans 'Available service' %}" : " {% trans 'Available services' %}");
                    $("#results_set").html(results_counter);
                },
                error: function (error) { },
                complete: function (response) {
                    //;
                },
            });

        }

        function parseRequest(search) {
            var request = "";
            if (search !== null) {
                request += "owners=" + ((search.owners.length > 0) ? search.owners.toString() + "&" : "null&");
                request += (search.categories.length > 0) ? "categories=" + search.categories.toString() + "&" : "";
                request += (search.types.length > 0) ? "types=" + search.types.toString() + "&" : "";
                request += (search.models.length > 0) ? "models=" + search.models.toString() + "&" : "";
                request += parseStringFilter("minPrice", search.minPrice);
                request += parseStringFilter("maxPrice", search.maxPrice);
                request += parseStringFilter("distance", search.distance);
                request += parseStringFilter("lat", search.lat);
                request += parseStringFilter("lon", search.lon);
                request += parseStringFilter("minQoS", search.minQoS);
                request += parseStringFilter("maxQoS", search.maxQoS);
                //request += (search.sortby !== null) ? "sortby=" + search.sortby : "";
            }
            return request;
        }

        function parseStringFilter(name, value) {
            return (value !== null && value !== "") ? name + "=" + value + "&" : "";
        }

        function appendServiceMultidata(service, image, logo, url, link, price) {
            // return service item for block
            return [
                '<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 on-mouseover service-banner" id="srv-' + service.id + '"  style="margin-bottom:25px !important">',
                    '<div class="thumbnail" style="min-height:380px!important;">',
                        image,
                        '<div class="caption">',
                            '<div style="min-height:200px; max-height:200px">',
                                '<span class="fa-stack fa-3x img-responsive img-circle" style="margin-top:-55px">',
                                    logo,
                                '</span>',
                                    '<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">',
                                        '<a href="'+url+'" >',
                                            '<h5 class="text-center" title="'+ service.title +'">' + ((service.title.length > 28) ?  service.title.substring(0, 28) + '...' : service.title.substring(0, 28)) + '</h5>',
                                        '</a>',
                                    '</div>',
                                '<div class="row">',
                                    '<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-justify">',
                                        '<p class="clearfix">' + ((service.description.length > 0) ? service.description.substring(0, 130) + '... ' : " ") + link + '</p>',
                                    '</div>',
                                '</div>',
                            '</div>',
                            '<div style="min-height:50px; max-height:50px">',
                                '<div class="row">',
                                    '<div class="col-sm-7 col-lg-7 col-md-7 col-xs-7" id="srv-rating-' + service.id + '" >',
                                        '<span><strong>' + ((service.average_rating === null) ? gettext('None') : service.average_rating) + ' </strong></span> ',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-1"></span>',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-2"></span>',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-3"></span>',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-4"></span>',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-5"></span>',
                                    '</div>',
                                    '<div class="col-sm-5 col-lg-5 col-md-5 col-xs-5">',
                                        '<strong class="pull-right">',
                                            price,
                                        '</strong>',
                                    '</div>',
                                '</div>',
                                '<div class="row">',
                                    '<div class="col-sm-8 col-lg-8 col-md-8 col-xs-8">',
                                        '<em> ',
                                            '<span class="fa fa-comments-o fa-1x text-primary"></span> ',
                                            service.total_reviews + " " + ((service.total_reviews === 1) ? gettext('review') : gettext('reviews')),
                                        '</em>',
                                    '</div>',
                                    '<div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">',
                                        setType(service.type),
                                    '</div>',
                                '</div>',
                            '</div>',
                        '</div>',
                    '</div>',
                '</div>'
            ].join('');
        }

        function appendServiceListView(service, image, logo, url, link, price) {
            // return service item for list
            return [
                '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 on-mouseover service-banner" id="srv-' + service.id + '" style="margin-bottom: 3% ;min-height:inherit; margin-left:5px">',
                    '<div class="row thumbnail">',
                        '<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">',
                            image,
                        '</div>',
                        '<div class="caption col-xs-12 col-sm-8 col-md-8 col-lg-8">',
                            '<div class="row">',
                                '<div class="col-sm-3 col-md-3 col-lg-3">',
                                    '<span class="fa-stack fa-3x img-responsive img-circle">',
                                        logo,
                                    '</span>',
                                '</div>',
                                '<div class="col-sm-9 col-md-9 col-lg-9">',
                                    '<a href="' + url +'" >',
                                        '<h4>' + service.title + '</h4>',
                                    '</a>',
                                    '<div class="row">',
                                        '<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">',
                                            '<p class="clearfix">' + ((service.description.length > 0) ? service.description.substring(0, 120) + '...' : "") + '</p>',
                                            link,
                                        '</div>',
                                    '</div>',
                                '<br>',
                                '<div class="row">',
                                    '<div class="col-sm-7 col-lg-7 col-md-7 col-xs-7" id="srv-rating-' + service.id + '" >',
                                        '<span><b>' + ((service.average_rating === null) ? gettext('None') : service.average_rating) + ' </b></span>',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-1"></span>',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-2"></span>',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-3"></span>',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-4"></span>',
                                        '<span class="fa fa-star-o star-colorize-yellow star-rating-5"></span>',
                                    '</div>',
                                    '<div class="col-sm-5 col-lg-5 col-md-5 col-xs-5">',
                                        '<b class="pull-right">',
                                        price,
                                        '</b>',
                                    '</div>',
                                '</div>',
                                '<div class="row">',
                                    '<div class="col-sm-8 col-lg-8 col-md-8 col-xs-8">',
                                        '<em> ',
                                            '<span class="fa fa-comments-o fa-1x text-primary"></span> ',
                                            service.total_reviews + " " + ((service.total_reviews === 1) ? gettext('review') : gettext('reviews')),
                                        '</em>',
                                    '</div>',
                                    '<div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">',
                                        setType(service.type),
                                    '</div>',
                                '</div>',
                            '</div>',
                        '</div>',
                    '</div>',
                '</div>',
            '</div>'
            ].join('');
        }

        
        function setType(type){
            // return relative icon
            if ( type === "M" ) {
                return '<abbr title="' + gettext('Machine-based service') + '"><span class="fa fa-laptop pull-right fa-2x" ></span></abbr>';
            }
            return '<abbr title="' + gettext('Human-based service') + '"><span class="fa fa-user pull-right fa-2x" ></span></abbr>';
        }

        function resultsNotFound() {
            return [
                '<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">',
                    '<div class="alert alert-danger jumbotron">',
                        '<h4 style="font-size: x-large" class="text-center">',
                            gettext("Results not found!"),
                        '</h4>',
                    '</div>',
                '</div>'
            ].join('');
        }

    </script>
{% endblock scripts %}
