{% extends "app/base.html" %}

{% block content %}
    <main class="container body-content" style="margin-top: 70px; margin-bottom: 30px">
        <form method="post" action="#">
            {% csrf_token %}
            <fieldset  style=" background-color: whitesmoke; border-radius:5px 5px; padding: 2%">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-sm-12 col-lg-12">
                        <header><h4>Enter your registered email account</h4></header>
                    </div>
                </div>
                <hr class="service-hr">
                <div class="row form-group">
                    <div class="col-sm-12 col-md-12 col-sm-12 col-lg-12 input-group" >
                        <span class="input-group-addon">
                            <span class="fa fa-envelope fa-fw"></span>
                        </span> 
                        <input type="email" class="form-control" placeholder="enter your valid email">
                    </div>
                </div>
                <div class=" row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12" >
                        <button type="submit" class="btn btn-success"> Submit</button>
                    </div>
                </div>
                <hr>
                <div class="text-center"><a href="/" class="btn btn-default" role="button"> Go to Home page</a></div>
            </fieldset>
        </form>
    </main>
{% endblock %}


{% block scripts %}
{% endblock scripts %}