{% load i18n %}
{% load l10n %}
<div class="service-basic-info-box">
    <form  id="PaymentServiceForm" name="BasicServiceForm" action="#basic">
        <div class="row form-group">
            <h3 class="col-lg-offset-1 col-md-offset-1 col-sm-offset-10"> {% trans 'Charging Policy' %}</h3>
        </div>
        <hr class="service-hr">

        <!--charging-->
        <div class="row form-group">
            <div class="col-sm-3 col-xs-12">
                <label class="text-right control-label hidden-xs" for="charging_policy" title="{% trans 'Charging model of the service' %}">{% trans 'Charging model' %}<span class="highlight-error-message"> *</span></label>
                <label class="text-left control-label visible-xs" for="charging_policy" title="{% trans 'Charging model of the service' %}">{% trans 'Charging model' %}<span class="highlight-error-message"> *</span></label>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 input-group controls" title="{% trans 'Charging model of the service' %}" role="presentation" id="charging_policy_node">
                <select class="selectpicker form-control"  name="charging_policy" id="charging_policy" data-max-options="1" data-size="6"  data-header="{% trans 'Choose a charging model' %}" data-live-search="false" role="list" autofocus required>
                    <option value="-1" disabled selected>-- {% trans 'Choose the charging model' %} --</option> 
                        {% for i in charging_models %}
                            {% if service %}
                            <option value="{{ i.id }}" title="{{ i.name }}" {% if service.charging_policy_id == i.id %} selected  {% endif %}>{{ i.description }}</option> 
                            {% else %}
                            <option value="{{ i.id }}" title="{{ i.name }}">{{ i.description }}</option> 
                             {% endif %}
                        {% empty%}
                        {% endfor %}
                </select>
            </div>
        </div>

        <!--cost-->
        <div class="row form-group">
            <div class="col-sm-3 col-xs-12">
                <label class="text-right control-label hidden-xs" for="price" title="Cost of the service usage">{% trans 'Price' %}<span class="highlight-error-message"> *</span></label>
                <label class="text-left control-label visible-xs" for="price" title="Cost of the service usage">{% trans 'Price' %}<span class="highlight-error-message"> *</span></label>
            </div>
            <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 input-group controls" title="{% trans 'Cost of the service usage' %}">
                {% if service %}
                <input type="number" step="0.01" min="0.00" class="form-control"  value="{% if service.price %}{{ service.price|unlocalize }}{% else %}0.00{% endif %}" name="price" id="price" autocomplete="off" placeholder="{% trans 'The price of the service' %}" required />    
                {% else %}
                <input type="number" step="0.01" min="0.00" class="form-control"  name="price" id="price" autocomplete="off" placeholder="{% trans 'The price of the service' %}" required />
                {% endif %}
            </div>
        </div>

        <!--currency-->
        <div class="row form-group">
            <div class="col-sm-3 col-xs-12">
                <label class="text-right control-label hidden-xs" for="unit" title="{% trans 'Currency related to the service usage cost'%}">{% trans 'Currency' %}<span class="highlight-error-message"> *</span></label>
                <label class="text-left control-label visible-xs" for="unit" title="{% trans 'Currency related to the service usage cost'%}">{% trans 'Currency' %}<span class="highlight-error-message"> *</span></label>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 input-group controls" title="{% trans 'Currency related to the service usage cost' %}'" id="unit_node">
                <select class="selectpicker form-control show-tick"  name="unit" id="unit" data-max-options="1" data-size="5"  data-header="{% trans 'Select the type of the service' %}" data-live-search="true" role="list" title="-- {% trans 'Select the currency' %} --">
                    <option value="-1" disabled selected>-- {% trans 'Select the currency' %} --</option> 
                    {% for i in currencies %}
                        {% if service %}
                            {% if service.unit == i.letter  %}
                                <option value="{{ i.letter }}" selected>{{ i.name }}</option> 
                            {% else %}  
                                <option value="{{ i.letter }}">{{ i.name }}</option> 
                            {% endif %}
                        {% else %}
                            {% if i.letter == "EUR" %}
                                <option value="{{ i.letter }}" selected>{{ i.name }}</option> 
                            {% else %}  
                                <option value="{{ i.letter }}">{{ i.name }}</option> 
                            {% endif %}
                        {% endif %}
                    {% empty %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-5 col-sm-5 col-md-5">
            </div>
        </div>
        <hr class="service-hr" />
        <!--info-->
        <div class="row form-group">
            <div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-9 col-xs-12 input-group controls" title="{% trans 'Mandatory fields' %}">
                <h5><strong class="text-center highlight-error-message">* {% trans 'Mandatory fields' %}</strong></h5>
            </div>
        </div>
        <!--end of fields-->
    </form>
</div>