{% load i18n %}
{% load l10n %}
<div class="service-basic-info-box">
    <form  id="SupportServiceForm" name="BasicServiceFormSupportServiceForm" action="#support">
        <div class="row form-group">
            <h3 class="col-lg-offset-1 col-md-offset-1 col-sm-offset-10"> {% trans 'Technical support' %}</h3>
        </div>
        <hr class="service-hr">
        <!--skype-->
        <div class="row form-group">
            <div class="col-sm-3 col-xs-12">
                <label class="text-right control-label hidden-xs" for="skype" title="{% trans 'Enter the skype id' %}">{% trans 'Skype ID' %}</label>
                <label class="text-left control-label visible-xs" for="skype" title="{% trans 'Enter the skype id' %}">{% trans 'Skype ID' %}</label>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 input-group controls" title="{% trans 'Enter the title of the service' %}">
                <input type="text" class="form-control" name="skype" id="skype" value="{% if service.skype %}{{service.skype}}{% endif %}" autocomplete="off" maxlength="63" placeholder="{% trans 'skype account' %}" autofocus />
            </div>
        </div>
        <!--info-->
        <hr class="service-hr">
        <div class="row form-group">
            <div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-9 col-xs-12 input-group controls" title="{% trans 'Mandatory fields' %}">
                <h5><strong class="text-center highlight-error-message">* {% trans 'Mandatory fields' %}</strong></h5>
            </div>
        </div>
    </form>
</div>