{% extends "app/base.html" %}
{% load i18n %}
{% load l10n %}
{% block title %} AoD | {% trans 'My offerings'%} {% endblock title %}

 {% load staticfiles %}

{% block extraCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui/1.11.3/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/my-tooltip.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-table/bootstrap-table.min.css' %}" />
{% endblock extraCss %}


{% block content %}
<div class="container body-content" style="margin-top: 50px; padding-bottom:2em;">

    {% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home_page' %}" class="custom-inactive-breadcrumb" title="{% trans 'Home page' %}"><span class="fa fa-home"></span> {% trans 'Home' %}</a></li>
        <li class="active">{% trans 'My offerings'%}</li>
    </ol>
    {% endblock breadcrumb %}


    <main role="main">
        <section class="table-responsive">
            <div class="service-list-box table-responsive">
                <h3>{% trans 'Services management panel'%}</h3>
                <hr class="service-hr">

                <div id="custom-toolbar" class="btn-group" title="{% trans 'The toolbar provides to users of set of actions such as add,remove or search a service' %}">
                    <button type="button" id="new-service" class="btn btn-default" title="{% trans 'Add a new service'%}" data-href="{% url 'insert_service' %}">
                        <span class="fa fa-plus-square text-success"></span> {% trans 'Register service'%}
                    </button>
                </div>
                <table id="table" 
                        data-classes="table table-hover"
                        data-search="true"  
                        data-show-toggle="false"
                        data-show-columns="true"
                        data-card-view="false"
                        data-click-to-select="true"
                        data-toolbar="#custom-toolbar"
                        data-pagination="true"
                        data-query-params="queryParams"
                        data-page-list="[5, 10, 15, 20, 30]"
                        data-sort-name="created_date" data-sort-order="desc">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="title" data-sortable="true" data-switchable="false">{% trans 'Service preview' %}</th>
                        <th data-field="is_public" data-sortable="true" data-visible="false">{% trans 'Accessibility' %}</th>
                        <th data-field="is_visible" data-sortable="true" data-visible="false">{% trans 'Availability' %}</th>
                        <th data-field="currency" data-sortable="true" data-visible="false">{% trans 'Currency' %}</th>
                        <th data-field="price" data-sortable="true" data-visible="false">{% trans 'Price' %}</th>
                        <th data-field="charging_policy" data-sortable="true" data-visible="false">{% trans 'Charging policy' %}</th>
                        <th data-field="type" data-sortable="true" data-align="left" class="hidden-xs" data-visible="false">{% trans 'Service type' %}</th>
                        <th data-field="created_date" data-sortable="true" data-align="left" data-visible="false">{% trans 'Creation date' %}</th>
                        <th data-field="modified_date" data-sortable="true" data-align="left"  data-visible="false">{% trans 'Last edit' %}</th>
                        <th data-field="description" data-sortable="false" data-visible="false">{% trans 'Description' %}</th>
                        <th data-field="manage_support" data-sortable="false" class="hidden-xs">{% trans 'Technical support' %}</th>
                        <th data-field="stats" data-sortable="false" data-formatter="statsFormatter" class="hidden-xs" data-align="center" data-events="statsActionEvent" data-visible="false">{% trans 'Statistics' %}</th>
                        <th data-field="edit" data-sortable="false" data-formatter="editFormatter" data-align="center" data-events="editActionEvent">{% trans 'Edit' %}</th>
                        <th data-field="remove" data-sortable="false" data-formatter="removeFormatter" data-align="center" data-events="removeActionEvent">{% trans 'Remove' %}</th>
                        
                    </tr>
                    </thead>
                </table>

            </div>  
        </section>
    </main>
</div>
{% endblock content %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery-ui/1.11.3/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/multiselect-bootstrap/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    {% with 'app/scripts/bootstrap-table/dist/locale/'|add:bootstrap_table_locale_url as bootstrap_table_locale %}
        <script type="text/javascript" src="{% static bootstrap_table_locale %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/scroll-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/ajax-load.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/consumers/services/list/provider-services.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/p4a-lib/consumers/services/item/actions.js' %}"></script>
    
    <script type="text/javascript">
        
        var data = [];

        {% if services %}
            {% for i in services %}
                var type = null, is_public, is_visible, title, url, modified_date='-';

                {% if i.type == "M" %}
                    type = '<i class="fa fa-laptop text-default" ></i> {% trans 'Machine' %}';
                {% else %}
                type = '<span class="fa fa-users text-default"></span> {% trans 'Human' %}';
                {% endif %}

                {% if i.is_public %}
                    is_public = '{% trans 'Public' %}';
                {% else %}
                    is_public = '{% trans 'Private' %}';
                {% endif %}

                {% if i.is_visible %}
                    is_visible = '{% trans 'Yes' %}';
                {% else %}
                    is_visible = '{% trans 'No' %}';
                {% endif %}

                url = "{% url 'public_service_view' i.id %}";
                title = '<a href="'+url+'" title="{% trans 'Navigate on the service' %}">{{ i.title|title }}  <small><span class="fa fa-external-link"></span><small></a>';

                {% if i.modified_date|date:"Y-m-d H:i" == "1970-01-01 00:25" %}
                   modified_date = '-';
                {% else %}
                    modified_date = '{{ i.modified_date| date:"Y-m-d H:i" }}';
                {% endif %}
                
                data.push({'id': '{{ i.id }}', 'title': title, 'charging_policy': '{{ i.charge_model }}', 
                    'type': type, 'currency': '{{ i.unit|safe }}', 'price': '{{ i.price|floatformat }}', 'description': '{{ i.description|slice:":110" }}', 
                    'is_public': is_public, 'is_visible': is_visible, 'url': url, 'created_date': '{{ i.created_date| date:"Y-m-d H:i" }}',
                    'modified_date': modified_date, 
                    'social_network_usage': "{{ integrationWithSocialNetwork.state }}", 'social_network_delete_url': "{{ integrationWithSocialNetwork.url }}{{ i.id }}"
                    });
            {% endfor %}
        {% endif %}
    </script>
{% endblock scripts %}