{% load i18n %}
{% load l10n %}
<div class="service-basic-info-box">
    <div class="row form-group">
        <h4 class="col-lg-offset-1 col-md-offset-1 col-sm-offset-10"> Technical support (documentation & tools)</h4>
    </div>
    <hr class="service-hr">

    <!--skype-->
    <div class="row form-group">
        <div class="col-sm-3 col-xs-12">
            <label class="pull-right control-label" for="skype_id" title="Enter the skype id">Skype ID<span class="mandatory-field"> *</span></label>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 input-group controls" title="Enter the title of the service">
            <span class="input-group-addon">
                <span class="fa fa-skype text-info fa-lg" role="img" alt="skype logo"></span>
            </span>
            <input type="text" class="form-control" name="skype_id" id="skype_id" value="" autocomplete="off" maxlength="128" placeholder="skype account" autofocus />
        </div>
    </div>

    <!--info-->
    <hr>
    <div class="row form-group">
        <div class="col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-9 col-xs-12 input-group controls" title="Mandatory fields">
            <h5><span class="text-center mandatory-field">* </span>Mandatory fields</h5>
        </div>
    </div>
</div>